[2013-01-26 20:11] tacaswell opened #1 "use `np.ravel`/`np.unravel` in `Hash_table`"
Currnently, this is done with self-rolled code, switch to using the numpy verisions to a) simplify code b) remove source of bugs

[2013-01-26 20:15] tacaswell opened #2 "use np.mgrid to set up shifts in Hash_table"
this will clean up the code and make it scalable to any dimension.

[2014-01-15 21:07] danielballan opened #6 "Make trackpy behave like customized_trackpy in mr."
- [x] Make `iterative_link` (i.e., new name for `link_iterator`) the fundamental loop.
- [x] Support `link` with Tom's original trackpy API.
- [x] Support `track` (`dataframe_link`?) with Dan's mr API.

[2014-01-15 21:12] danielballan opened #7 "Move most of mr in trackpy."
- [x] Merge the repositories and keep the commit history.
- [ ] Maybe rename feature.py to something Crocker-Grier specific.
- [x] Basically use mr's README. Obviously add Tom. Also also Tom's list of related software projects: http://tacaswell.github.io/tracking/html/

[2014-01-15 21:18] danielballan opened #8 "Merge Nathan's code."
FYI, @nkeim , Tom Caswell is over my shoulder, and we're serious about merging trackpy in the next few weeks. We're going to reconcile my (Dan's) branch first and then yours. I'm also going to pull in all my feature-finding, tests, and analysis code. See related issues.

"Easy"
- [x] Allow access to nonrecursive_link via keyword `link_strategy`.
- [x] Add KDTree alternative. Access HashTable vs. K

[2014-01-15 21:19] danielballan opened #9 "Document LinkOnDisk, out of core trajectory linking."
Yup.

[2014-01-15 21:35] danielballan opened #10 "Use BSD license?"
We don't feel strongly about this, but we're considering it. Any objections, @nkeim ?

[2014-01-18 19:12] nkeim opened #11 "Fix name of "exmaples" directory"
Should be "examples". I think one can just use "git mv" for this.

[2014-01-20 16:41] danielballan opened #12 "Add g(r) code."

[2014-01-21 03:58] #11 closed, assigned to nobody

[2014-01-21 08:33] danielballan opened #15 "BUG: C_fallback_python is not working as intended"
This only matters if the user does not have a Python-compatible C compiler.

The pure Python fallback for the one piece of C code in mr is not quite right: 5 of the feature tests are showing poor precision.

[2014-01-21 22:10] #6 closed, assigned to nobody

[2014-01-22 16:02] tacaswell opened #18 "re-work `hash_generator` api"
So that it takes in a list of points to match the api in the kdtree wrappers.

a bunch of logic can be removed from `link_iter` if this is done.

[2014-01-23 02:55] danielballan opened #23 "Is numba worth the trouble if numpy can do most of the work?"
[This S.O. question](http://stackoverflow.com/questions/19644720/numba-autojit-error-on-comparing-numpy-arrays), in particular the original poster's comment on the answer, sums up my feelings as I try work fit numba into my code. Seems like a lot of common numpy idioms are not supported.

Explicit loops, which seem to be what numba wants, make code less readable and obviously slower for users who

[2014-01-23 20:49] danielballan opened #25 "Point ReadTheDocs to the soft-matter branch."
@tacaswell

[2014-01-24 13:50] #7 closed, assigned to nobody

[2014-01-24 20:21] #25 closed, assigned to tacaswell

[2014-01-28 16:07] danielballan opened #36 "Switch build on Travis to conda so numba tests can be run."

[2014-01-28 17:47] nkeim opened #37 "Publish a contribution policy"
It would be helpful, sooner rather than later, to have guidelines for version numbering, PR etiquette, etc. on the Github site. Perhaps we can just open a project wiki and slap it up on the front page.

The actual content could be along the lines of Tom's email on 1/28. Most salient point: don't merge your own PR.

[2014-01-29 16:15] #36 closed, assigned to danielballan

[2014-01-29 19:21] #15 closed, assigned to danielballan

[2014-01-29 22:46] #23 closed, assigned to nobody

[2014-01-30 22:28] danielballan opened #45 "numba help"
@nkeim I know you are busy this week, but file this away for when you find a moment....

I have to process a bunch of long videos, and now I'm dreaming of numba-accelerated refine. I have a working version on [this branch](https://github.com/danielballan/trackpy/tree/numba-refine). It passes all the same tests as my original `_refine`.

It is 2D only, but written so that copying the code for 1D or

[2014-02-03 18:48] danielballan opened #50 "Use standard data sets for benchmarking and examples."
Low priority, but a note for later...

It would be nice to have examples at different densities to answer questions like, "Can our BTree mode ever beat KDTree, even though it's in pure Python?"

We could use a subset of the data from this 2012 [particle tracking competition](http://www.bioimageanalysis.org/track/). They systematically cover a range of densities and signal-to-noise ratios. The resu

[2014-02-03 21:32] #45 closed, assigned to nobody

[2014-02-03 21:45] #8 closed, assigned to nobody

[2014-02-03 22:31] danielballan opened #53 "Add "Cookbook" to docs demoing useful routines."

[2014-02-06 00:30] nkeim opened #56 "C extensions [?] failing in Travis"
The HDFStore and sqlite tests (and those tests only) are failing in Travis. The exception is during the feature-finding code.

See https://travis-ci.org/soft-matter/trackpy/jobs/18312343

Encountered with #55.

[2014-02-06 13:56] #56 closed, assigned to nobody

[2014-02-06 16:29] danielballan opened #60 "Properly handle cases with zero features."
This can happen at many stages, and each one has to proceed with producing errors. Maybe it should warn though, especially if it finds no non-black pixels.

[2014-02-07 15:47] danielballan opened #62 "Implement interface to sm_core"
I haven't spent more than five minutes looking at it, but I'm imaging some way of hooking the inputs and outputs of `locate` and `link_df_iter` into an `SM_serial`.

[2014-02-07 16:09] danielballan opened #63 "Rethink batch"
Something to mull over, as we aim for sharing data between groups and reading GDF files...

`batch` takes a bunch of kwargs to manage output to a variable or a pandas HDFStore or a SQL database. This gets the job done and offers _some_ flexibility, but it would be better to have an (abstract?) base class that can accept frames one at a time, save them in whatever format, and later regurgitate them

[2014-02-07 16:16] danielballan opened #64 "Refactor circle to use mpl; remove OpenCV dependency."
Since pims has a way around OpenCV, I will remove it as a dependency entirely by refactoring mr.circle (now tp.circle) to use mpl animations. As a bonus, this will work in  IPython Notebooks.

[2014-02-08 04:40] RebeccaWPerry opened #66 "another dependency: ffmpeg"
I ran into another dependency that I didn't have installed. I ran into it when I tried to load some images and locate the particles: ffmpeg. I would add this to the list of things to install to get trackpy running.

[2014-02-08 04:43] RebeccaWPerry opened #67 "tutorial update-- image squence"
http://nbviewer.ipython.org/github/soft-matter/trackpy/blob/master/examples/loading-video-frames.ipynb

The output for line 4 is not what I get. I get:  pims.image_sequence.ImageSequence at 0x4467d10

[2014-02-08 13:48] danielballan opened #68 "Has feature refactoring botched subpx accuracy?"
Rerunning the tutorial, the subpx_bias plot looks bad, even with `engine='python'`. I will have to go back and find where this changed.

![bad histogram](https://f.cloud.github.com/assets/2279598/2117357/618d27ca-90c7-11e3-9e0b-5b762eef19a2.png)

[2014-02-08 16:16] #60 closed, assigned to nobody

[2014-02-08 17:21] #63 closed, assigned to nobody

[2014-02-08 18:42] RebeccaWPerry opened #71 "test images? test video?"
I can't find the test video referenced in the walk through. If only I could get ONE image with located particles, I would feel like I was on my way to being able to use this package.

[2014-02-08 19:20] #9 closed, assigned to danielballan

[2014-02-08 20:41] danielballan opened #74 "Subclass FramewiseData to read other formats."
Wish list:
- GDF for compatibility with Crocker/Grier/Weeks
- whatever format the Blair code uses (I have never touched that code myself, I have no idea)
- non-pandas hdf5

I originally thought of CSV for newbies, but you can already do DataFrame.to_csv, and if your data doesn't fit in memory, you shouldn't be saving it to a CSV!

Others?

[2014-02-11 00:45] #68 closed, assigned to nobody

[2014-02-11 00:45] danielballan opened #78 "trackpy does not seem to be compatible with v0.12 of numba"
See [this failed Travis job](https://travis-ci.org/danielballan/trackpy/jobs/18619964). For now I am forcing the Travis build to use 0.11, which is the version I have been developing on.

Can I pass this off to you, @nkeim ? If it comes down to Travis problems feel free to tap me in. For now I'm guessing this is an actual problem with numba 0.12 that one can reproduce locally with the latest versi

[2014-02-11 14:00] #78 closed, assigned to nobody

[2014-02-11 14:02] danielballan opened #81 "Add a pair of Travis builds for numpy 1.8 and numba 0.12"

[2014-02-11 14:05] #64 closed, assigned to danielballan

[2014-02-13 03:47] nkeim opened #82 "numba 0.12: extremely slow `_refine_numba()`"
You may have noticed that just doing `import trackpy` with `numba` 0.12 installed takes upwards of 30 seconds, and execution of `_refine_numba()` also seems to take forever. After extensive study I've concluded that getting `_refine_numba()` back up to full speed will require a major rewrite. It's pretty unbelievable that the new Anaconda release would include a version of one of their flagship pr

[2014-02-16 23:04] RebeccaWPerry opened #87 "thumbs.db file crashed batch particle locate"
I took my images on a windows machine, and it created a thumbs.db in my directory. When I used:
frames = tp.ImageSequence(<my dir>)
f = tp.batch(frames, 5, minmass=540)
It handled 840 images properly before reaching the thumbs.db file at which point it objected to that not being an image file-- so I had to remove thumbs.db and then run the whole thing again. A suggested enhancement-- just skip fil

[2014-02-17 03:11] #81 closed, assigned to danielballan

[2014-02-17 17:43] #87 closed, assigned to nobody

[2014-02-17 17:44] #82 closed, assigned to nobody

[2014-02-23 22:47] nkeim opened #89 "Sloppy `_refine_numba()` much slower than Python"
I'm not sure why we didn't see this before, but running `locate()` with `max_iterations=0` is actually much faster without Numba. (`numba` v0.11 or v0.12.1)

This is from `benchmarks/numba_benchmarks.ipy`, with the first case added by me.

[code]

When accuracy is desired, `numba` is the way to go:

[code]

I am not in favor of adding "smart" logic to the code to automatically switch back to pure-

[2014-02-23 23:52] #89 closed, assigned to nobody

[2014-02-25 14:54] #10 closed, assigned to nobody

[2014-03-15 20:52] danielballan opened #97 "See what scikit-image can do for us."
The project has come a long way. `ImageCollection` is similar to our `ImageSequence`. Their `imread` looks smarter than the one in ndimage or mpl.

I wonder if their local maxima detector is faster than ours: http://scikit-image.org/docs/dev/api/skimage.feature.html#peak-local-max

[2014-04-01 04:51] forevertheuni opened #99 "Frames only containing background"
Hello all,
Thanks for trackpy!

Everything works great for me.
I have a little problem.
When I have particles (deconvolved files with a widefield microscope) everything works great, however if I try to use an image with only background (a negative control for example). I get a lot of particles all over the place, with a high mass even.
For example, if I use the minmass=30000 in frames with particl

[2014-05-18 15:41] danielballan opened #102 "Generate doi"
It looks like the doi generator does not support github _organization_ repos just yet. I sent an email to support and I then found this:

https://twitter.com/ZENODO_ORG/status/467267473725992960

So much for the rush to do this in time for my paper. We can revisit once Zenodo supports organization repos. If someone sees news of this before I do, please bump this issue.

[2014-05-19 15:02] #102 closed, assigned to nobody

[2014-05-29 22:10] nkeim opened #106 "`import trackpy` imports matplotlib"
While `plots.py` is in the news... one frustration I encountered when using trackpy with the IPython parallel computing facilities is that it always starts up matplotlib. If the (headless) cluster workers are running on a remote host, this requires a workaround because there is no X server in `DISPLAY`. It seems like moving `import matplotlib` into each function definition in `plots.py` would resu

[2014-06-03 22:11] #71 closed, assigned to nobody

[2014-06-24 22:03] danielballan opened #107 "A call for good videos / images to use in my SciPy talk."
If you don't know, I am [presenting on TrackPy at the SciPy 2014 conference](https://conference.scipy.org/scipy2014/schedule/presentation/1082/).

I could use some cool data to show off! Mine is dirty, which is impressive in the sense that it can be tracked, but it is perhaps not as fun to look at as some you might have. Would you be willing to share your images and/or your IPython notebooks? Plea

[2014-06-24 22:25] danielballan opened #108 "Roadmap: Enhancements to finish before or during SciPy conference"
A tour of our [walkthrough notebook](http://nbviewer.ipython.org/github/soft-matter/trackpy-examples/blob/master/notebooks/walkthrough.ipynb) alone could fill 15 minutes. There's no shortage of features to discuss. But I'd like to use the impending deadline and the conference's "Sprints session" as an excuse to finish work on some enhancements.

This is my list of ideas. If you have anything to of

[2014-07-04 14:36] nkeim opened #110 "Better testing for predictor diagnostics"
Tests for `predict.py` should check that the `instrumented()` class decorator works properly with each of the built-in predictor classes. This should involve a simple linking task, followed by cursory inspection of the output of `dump()`.

Since the diagnostic output depends on the predictor class it was used on, checking the numerical correctness of that information would be difficult.

[2014-07-05 14:08] nkeim opened #111 "Sphinx docs are missing functions"
The docs at e.g. http://trackpy.readthedocs.org/en/latest/reference/trackpy.linking.html have the module docstrings only, which are of very limited use. I think they should at least have the names, call signatures, and docstring first lines of the member functions.

I've configured Sphinx to do this in the past, so I may take care of this myself at some point.

[2014-07-05 23:36] #106 closed, assigned to nobody

[2014-07-06 13:30] #107 closed, assigned to nobody

[2014-07-06 13:33] #67 closed, assigned to nobody

[2014-07-08 18:04] ahmadia opened #116 "Why is PIL listed as a dependency?"

[2014-07-14 15:06] danielballan opened #124 "Choose a better default colormap in plot_traj."
Thanks to Kristen Thyng's talk at SciPy 2014 (not yet online) I now know that `cm.winter` is the very worst colormap in matplotlib, perceptually speaking. It should not be the default for coloring-by-time in `trackpy.plots.plot_traj`.

[2014-07-14 15:11] #111 closed, assigned to nobody

[2014-07-14 16:21] nkeim opened #126 "Let `setup.py` and sphinx share version info"
#111 and #125 concern the version string displayed all of the sphinx documentation page titles. It's confusing when it doesn't reflect the actual version of the code. Currently, it needs to be updated by hand when there's a release.

There ought to be a better way! I've created this issue just so we remember the problem exists; otherwise we'll only encounter it when we're trying to get a release o

[2014-07-22 19:07] nkeim opened #127 "Roadmap: Upcoming releases"
Awhile back, @danielballan suggested a post-SciPy v0.2.2 release to clean things up. Before we do much more merging, I'm starting this issue to help us come to consensus on what goes in v0.2.2, and (hypothetically) v0.2.3 and v0.3.

Here's what I can think of:

## v0.2.2

This release would just be a more perfect v0.2.1, that we can get out soon.

- Updated README #123
- Upcoming bugfix for `annot

[2014-07-27 04:05] JoshuaSkootsky opened #131 "4D and 5D functionality"
Hello all!

I've seen very encouraging internal documentation, confirmed by the great and very helpful Dan Allen (who suggested that I open this as an "issue"), that trackpy can in principle handle n-dimensional data.

In practice, how to best get this working is, for now, somewhat unclear to me.

In principle, getting the information in as a numpy array of the proper dimensionality will work.

Ho

[2014-07-27 20:43] JoshuaSkootsky opened #132 "4D/5D functionality"
Hello all.

I was wondering about how to, in a memory efficient way, batch process 4D data (3D + t) and track cell nuclei.

I was also wondering how to use these tracks to track a periodic nuclear fluorescent marker, which would be observed through a second channel, which would be 5D.

For 4D functionality, here is some test data from the Megason lab in the MB range.

http://www.gofigure2.org/inde

[2014-07-27 20:53] #132 closed, assigned to nobody

[2014-08-01 17:56] danielballan opened #135 "Try out recent releases of numba"
Numba releases have been coming fast. I was told at SciPy that they have achieve big performance gains. At some point we should check whether the upgrade breaks anything. Provisionally tagging 0.2.3.

[2014-08-02 16:54] #66 closed, assigned to tacaswell

[2014-08-12 01:20] danielballan opened #141 "Consider changing the default value of filter_before."
The `filter_before=True` parameter of locate is for performance. It eliminates candidate features based on mass (and size if `minsize` is set) to avoid refining the position of features that will be thrown away. When numba is enabled, it does not actually improve performance (as @nkeim recognized) because the computation is faster if performed in the refine step as a numba-optimized loop over the

[2014-08-12 01:28] danielballan opened #142 "Optimize bandpass"
* Re-examine `ndimage.uniform_filter`, which is not exactly a boxcar and which is accidentally maybe slower than a boxcar filter. Checkout the [boxcar filter](http://docs.scipy.org/doc/scipy-0.7.x/reference/generated/scipy.stsci.convolve.boxcar.html) scipy 0.7 and the [(1D-only?) version](http://docs.scipy.org/doc/scipy-0.13.0/reference/generated/scipy.signal.boxcar.htm) in modern scipy. Where did

[2014-08-19 18:39] danielballan opened #146 "Implement dumping (getting) first N frames"
Noting a simple feature "request" so I remember to do this:

We can `FramewiseData.dump()`. It would also be convenient to have `FramewiseData.dump(N)` to get the first N frames. As is, it requites _two whole lines of code_ ;- )

[code]

[2014-09-01 19:36] sciunto opened #149 "Archlunix package"
Hi,

As for pims, I made a package for archlinux.
https://aur.archlinux.org/packages/python2-trackpy/

I did my first tests on my experimental data and I'm really impressed by the results. You are doing a great job!

Hope to be one of the first to cite your work :)
Many thanks.

[2014-09-05 18:14] vivarose opened #150 "Have you ever encountered an image of unnormalized floats?"
Lines 499 to 501 of feature.py are:
                # To avoid degrading performance, assume gamut is zero to one.
                # Have you ever encountered an image of unnormalized floats?
                raw_image = 1 - raw_image

This section of the code is inverting an image so that the dark features will become bright features that the function locate() can then find.

My concern is that I

[2014-09-05 20:39] #146 closed, assigned to nobody

[2014-09-06 18:28] sciunto opened #152 "tp.link_df: assert failure not explained"
Hi,

If verify_validity is True, the function may raise this:

[code]

Is it possible to clarify the problem? I'm not sure to understand what the assert checks here.

Actually, the docstring is not helping me. I guess it is incomplete.
My code: http://www.fast.u-psud.fr/~boulogne/Tracker_zt.html

What i'm trying to do: I have a set of pictures (xy) over z and time.
First, I want to locate the part

[2014-09-12 23:00] mmdriscoll opened #156 "confusing error message in pims.ImageSequence"
When you create a new pims.ImageSequence object (i.e. `frames = pims.ImageSequence('my_image_path))'`, and you give it an incorrect path you get the following message:

[code]

It took me a while (and some help) to figure out I had just typed the wrong path - I would have expected that kind of user error to produce the following:

[code]

[TAC edited for formatting]

[2014-09-13 18:12] #156 closed, assigned to nobody

[2014-09-16 15:17] mmdriscoll opened #157 "suggested update for documentation: threshold vs minmass"
In the walkthrough, it is suggested to use minmass as a cut during the particle identification step.  For newbies, it might be useful to point out that using the threshold kwarg in tp.locate() can be useful as well,
if you have large particles compared to your background noise.  I found that it gave me a huge speed up; without it many false particle were 'found' in my uneven background.

[2014-09-24 14:21] danielballan opened #159 "Specify minimum versions of dependencies."
Specify minimum versions in `setup.py`. This came up because `np.meshgrid` used to be 2D only, so there is some minimum version of numpy before which our ND functionality fails (and fails cryptically).

I'm not sure what the minimum version is, but most projects don't support numpy before 1.7.

[2014-09-30 15:00] #126 closed, assigned to nobody

[2014-10-03 12:49] caspervdw opened #161 "Feature identification in 3D"
Hi all,

I am working with particles in 3D confocal stacks and lately I started working with trackpy to get the feature identification working and to say something about the static pictures (so no linking involved yet).

In all of my images z-size is different from x and y, because the resolution is always better in xy. This gives problems in the feature identification: what typical size do I give

[2014-10-10 17:57] danielballan opened #167 "Draw trajectories onto video"
The new `pims.export` and `pims.play` (for notebooks) makes this pretty straightforward. The missing ingredient (note to self) is: http://stackoverflow.com/questions/8598673/how-to-save-a-pylab-figure-into-in-memory-file-which-can-be-read-into-pil-image

[2014-10-15 14:20] sciunto opened #169 "Missing import"
Hi,

Just got that. I dump here for the record.

[code]

[2014-10-15 15:17] #169 closed, assigned to nobody

[2014-10-15 15:19] #116 closed, assigned to nobody

[2014-10-22 20:54] danielballan opened #175 "Rebuild conda recipes to include pytables and numexpr."
These are optional deps of pandas. They enable trackpy's `PandasHDFStore` and `DataFrame.query`, respectively, both of which are very handy.

[2014-10-23 18:01] danielballan opened #176 "Add errorbars to drift computation."
I want a quick-and-easy way to visualize the uncertainty in the result from `compute_drift`. It's easy to take the drift at face value, but it's not always real.

[2014-10-24 00:12] kmsouthard opened #177 "Colorby='frame' not working"
Hello everyone!

I am fairly new to python so perhaps this is a user error, but I cannot get colorby='frame' to work for trackpy.plot_traj function.

I either get axis centered around zero and not even getting to 1 pixel or, if I try and add labels the plot disappears, and my output is just something like this:

<matplotlib.figure.Figure at 0x3b73d9550>

If I am doing something wrong or I need to

[2014-11-10 15:28] kedmond opened #179 "separation values smaller than diameter don't work"
Hello,
    I've found that if you define 'separation' to be equal to or less than the diameter, the binary_mask() routine crashes.  It produces the following errors:

pt = tp.batch(stk[:200], 11, noise_size=1, smoothing_size=4, characterize=False, separation=11)
Traceback (most recent call last):

  File "<ipython-input-66-4aeb175a3478>", line 1, in <module>
    pt = tp.batch(stk[:200], 11, noise_

[2014-11-10 15:42] #179 closed, assigned to nobody

[2014-12-06 23:05] danielballan opened #181 "Documentation Wishlist"
- [x] The walkthrough contains a nice overview of PIMS, lifted from the SciPy talk, but a more thorough PIMS tutorial is needed, especially until PIMS gets its own sphinx docs.
- [x] The one regression from the old docs on ReadTheDocs: these only cover the current dev version. Since conda makes installing 0.3-dev very straightforward, I think this is OK. I don't think anyone has time to backport t

[2014-12-10 23:55] nkeim opened #182 "Preserve documentation for previous releases"
Past versions of the [published documentation](http://soft-matter.github.io/trackpy/) should be available under "permanent" stable URLs. For practical reasons this policy should begin with documentation for the final v0.2 release.

@danielballan has suggested we look to the matplotlib project for a solution.

This issue comes from the discussion in https://github.com/soft-matter/trackpy-example

[2014-12-11 01:39] anntzer opened #183 "Use logging for printing progress"
It would be nice if `print_update` went through normal logging -- possibly with a custom handler added if trackpy detects that it is run in IPython, but some people may just want to use it outside of that...

[2014-12-17 20:44] #161 closed, assigned to nobody

[2014-12-17 20:47] #152 closed, assigned to nobody

[2014-12-17 20:50] #131 closed, assigned to nobody

[2014-12-17 20:52] #177 closed, assigned to nobody

[2014-12-17 20:54] #99 closed, assigned to nobody

[2014-12-17 20:57] #62 closed, assigned to nobody

[2014-12-19 21:54] #149 closed, assigned to nobody

[2014-12-19 21:57] danielballan opened #190 "Revisit numba code to take advantage of updates to numba"
There may be more datatype flexibility as [@nkeim mentioned](https://github.com/soft-matter/trackpy/issues/135#issuecomment-67681153) and there may be ways to get additional performance gains. If such changes require dropping support for older versions of numba, that is OK.

[2014-12-30 21:54] RebeccaWPerry opened #191 "GOOD_ENOUGH_THRESH different for numba and not-numba"
In feature.py, the GOOD_ENOUGH_THRESH is different for the numba version and the not numba version:

line 199, thresh is set to 0.005 (was previously 0.01 back in February, changed in commit f963d4)
line 303, thresh is set to 0.01

Is this difference intentional?

[2015-01-05 19:06] nkeim commented on #191
Weird. If anything, the *numba* algorithm should be seeking better convergence than pure-Python, because loops are so cheap. This was @danielballan's commit. Dan, can you remember your/our reasoning?

[2015-01-10 18:16] danielballan commented on #191
I remember that reducing pure Python's GOOD_ENOUGH_THRESH to 0.005 improved its performance on the tests in the test suite, but reducing numba's GOOD_ENOUGH_THRESH to 0.005 caused it to perform *worse*. More tests would be need to understand why and to check that the problem isn't specific to those tests.

There is an implementation difference as noted in [this comment](https://github.com/soft-mat

[2015-01-10 18:17] danielballan commented on #182
I have to figure this out for scikit-xray, so I can take care of this from trackpy as well, probably next week.

[2015-01-10 18:23] danielballan commented on #191
I wonder if it's possible to make calls to `logger` from within numba without leaving nopython mode? There must be *some* way to debug numba code....

[2015-01-11 18:08] nkeim commented on #191
Inspired by https://github.com/soft-matter/trackpy/pull/184#issuecomment-69503525 :

If a debug flag is set, we could have the numba code allocate an N x m array, returning *m* pieces of debug info for each particle. (In this case just the number of refine steps, so m=1?) If the debug flag is clear, it would just return a dummy 1 x 1 array instead. The debug info could be included in the features

[2015-01-12 17:54] danielballan commented on #191
I think [Jaqaman et. al](http://www.nature.com/nmeth/journal/v5/n8/abs/nmeth.1237.html) collect this kind of information in their results as well. If adaptive search is being used, perhaps the results DataFrame should include this information. I'm not sure we even need to give the users a way to turn it off -- debug flag or no.

[2015-01-12 20:01] tacaswell opened #194 "hdf5 format for storing particles"
http://hdf-forum.184993.n3.nabble.com/Octree-particle-storage-based-on-HDF5-td4027692.html

Reference to the 'FiberBundle' hdf file layout which looks to be somewhat of a standard and may increase our interoperability.

[2015-01-13 03:16] tacaswell commented on #191
If it is in the data frame users can 'turn it off' by dropping the column ;).

[2015-01-13 03:31] danielballan commented on #191
Right.

On Mon Jan 12 2015 at 10:16:07 PM Thomas A Caswell <notifications@github.com>
wrote:

[2015-01-14 15:32] danielballan commented on #53
This is addressed by the tutorials in the new docs. There can always be more, but I'm closing this.

[2015-01-14 15:32] #53 closed

[2015-01-14 15:36] danielballan commented on #175
@tacaswell In #135 you objected to bundling pytables into the conda package because you thought it conflicted with pytables. We have since figured out that it does not conflict anymore. That is,

    conda install h5py pytables

creates no problems. Are you OK with bundling pytables?

[2015-01-14 15:41] tacaswell commented on #175
The conflicts are at runtime and it relies on having new enough version of h5py, hdf5, and pytables.  I _think_ conda has up-to-date enough everything.

[2015-01-14 15:45] danielballan commented on #175
Can you find a link for this? It would be good to know the version number and comment on this in the meta.yml.

[2015-01-14 15:46] tacaswell commented on #175
https://github.com/h5py/h5py/issues/390  Looks like the stock images from anaconda still have issues

[2015-01-14 15:47] danielballan commented on #175
Thanks. I'll leave this open and we'll circle back later once that is sorted out.

[2015-01-15 01:38] danielballan commented on #135
Done! Both 0.2.4 and the development version have been updated on binstar.

[2015-01-15 01:38] #135 closed

[2015-01-15 02:18] danielballan opened #197 "Should we release a 0.2.5 to better support latest deps?"
On numpy 1.9, the test suite passes locally, but it issues so many warnings (> 4MB of logs!) that [Travis declares it broken](https://api.travis-ci.org/jobs/47066968/log.txt?deansi=true).

Worse, I discovered a problem with numba 0.16 after all. Trackpy works with python 2.7 + numba 0.16 -- and on all platforms, as mentioned in #135. But it fails badly with python 3.4 + numba 0.16. I did not see t

[2015-01-15 02:23] danielballan commented on #135
Nevermind! I removed the packages from binstar. See #197.

[2015-01-15 16:45] nkeim commented on #197
Yes. v0.3 is going to bring some changes that are possibly disruptive and/or buggy, plus it is a couple weeks away (just my guess). It would be helpful to release a v0.2.x that's likely to be easy to install and use for at least a few more months. *But* I would say that it's more important to fix the numba issues in v0.2.5; I think that numpy warnings and failing travis are acceptable sacrifices,

[2015-01-15 16:47] danielballan commented on #197
Yes please.

[2015-01-19 12:40] caspervdw opened #198 "Issue with PyFFTW"
Hi,

Yesterday I installed PyFFTW and it appears to work smoothly. But when trackpy uses scipy.ndimage.fourier_gaussian on the result of `fftn`, it fails with `datatype not understood`. While the datatype is the same as the numpy function `fftn`

This code reproduces my error:

    import numpy as np
    import trackpy as tp

    a = np.random.randint(0, 256, (50,50))

    afftw = tp.preprocessing

[2015-01-19 21:49] danielballan commented on #198
I haven't seen that one before. I ran your code but I cannot reproduce the error. Which versions of pyfftw, numpy, and scipy? See #199, which I've been meaning to write for awhile, so save yourself a minute or two of trouble.

[2015-01-21 00:09] Resonanz opened #200 "Multiple minor issues the the walkthru"
Lots of easy documentation fixes......

I am using Yosemite (OS X 10.10)

On this page: http://soft-matter.github.io/trackpy/tutorial/walkthrough.html

1. The first line fails under ipython and python and on various versions (2.7 and 3.3):
[code]
2. The "print" command also fails on py 3.3:
[code]
as it require parentheses:
[code]
3. The print command also fails elsewhere on the page:
[code]
4. Th

[2015-01-21 20:55] tacaswell commented on #200
i am very distressed `%matplotlib inline` failed as that is strait from the IPython folks... Are you copy-pasting into an ipython terminal or running the example as a notebook?

[2015-01-21 20:59] tacaswell commented on #200
Please put in PRs for what you can.

[2015-01-21 21:00] RobWardNZ commented on #200
In python, ipython, and in a file. Kinda weird huh but seems others have same problem.

-----Original Message-----
From: "Thomas A Caswell" <notifications@github.com>
Sent: ‎1/‎22/‎2015 9:55 AM
To: "soft-matter/trackpy" <trackpy@noreply.github.com>
Cc: "Rob" <rob.ward.massey@gmail.com>
Subject: Re: [trackpy] Multiple minor issues the the walkthru (#200)

i am very distressed %matplotlib inline fai

[2015-01-21 21:01] tacaswell commented on #200
the inline magic only works in the notebook and in the qtconsole, not in any of the things you tried.

[2015-01-21 21:01] RobWardNZ commented on #200
Sorry what does that mean Tom? I may need a like git training 😃

-----Original Message-----
From: "Thomas A Caswell" <notifications@github.com>
Sent: ‎1/‎22/‎2015 9:59 AM
To: "soft-matter/trackpy" <trackpy@noreply.github.com>
Cc: "Rob" <rob.ward.massey@gmail.com>
Subject: Re: [trackpy] Multiple minor issues the the walkthru (#200)

Please put in PRs for what you can.
—
Reply to this email directly

[2015-01-21 21:04] RobWardNZ commented on #200
Okay but for someone starting out this is a real show stopper..... I don't even know what the notebook is that you refer to, or qtconsole. I'm on a Mac if that helps. I'm happy to edit some docs to help if you can get me started.

-----Original Message-----
From: "Thomas A Caswell" <notifications@github.com>
Sent: ‎1/‎22/‎2015 10:01 AM
To: "soft-matter/trackpy" <trackpy@noreply.github.com>
Cc: "Ro

[2015-01-21 21:09] tacaswell commented on #200
http://ipython.org/notebook.html

@danielballan We need to add links to ipython notebook + instructions on how to use them to the docs someplace

@RobWardNZ download the note book file from http://nbviewer.ipython.org/github/soft-matter/trackpy-examples/tree/master/notebooks/ and then run `ipython notebook` in what ever file you saved it in.

[2015-01-21 21:10] danielballan commented on #200
Thanks, Rob. Point taken. The notebooks is rocketing in popularity, but of course it is not universal. We will add a note advising users to use the notebook or skip the "%matplotlib inline".

[2015-01-22 02:19] nkeim commented on #200
@RobWardNZ: I think @tacaswell meant that you should run `ipython notebook` in whatever *directory* contains that downloaded file.

Thanks for pointing out these issues! As @tacaswell suggested, the fastest way for some of them to be fixed is for you to just give us the edited files (preferably via a pull request). But we (the other contributors) are also just glad to be aware of them and will loo

[2015-01-22 02:22] tacaswell commented on #200
Oh, yeah meant 'folder', not 'file'.

[2015-01-22 09:08] caspervdw commented on #198
My versions: (u'six', '1.8.0'), (u'numpy', '1.9.0'), (u'scipy', '0.14.0'), (u'matplotlib', u'1.4.0'), (u'pandas', '0.14.1'), (u'scikit-image', None), (u'pyyaml', None), (u'pytables', None), (u'numba', '0.14.0'), (u'pyfftw', '0.10.0'), (u'python', u'2.7.8')

I'll do some updating, maybe this solves the problem.

[2015-01-22 10:58] caspervdw commented on #198
Updating scipy to 0.15.1 had some effect: now it just hangs on `_nd_image.fourier_filter` instead of giving an error. The numpy-generated FFT just works.
A downgrade to pyfftw 0.9.2 did not make a difference.

[2015-01-22 14:29] danielballan commented on #198
Hmm. I won't have time to follow up for a few days. I would start by
inspecting attributes of the numpy array at various stages in the
process...before and after _maybe_align() and before and after the fft.

On Thu Jan 22 2015 at 5:58:45 AM Casper van der Wel <
notifications@github.com> wrote:

[2015-01-22 16:33] caspervdw commented on #198
With help of my colleague, I found a difference. `anp.strides = (16L, 800L)` and `afftw.strides = (800L, 16L)`
Transposing or `asfortranarray` or `ascontiguousarray` doesn't help. My working solution is:

    afftw2 = np.empty_like(a, dtype=np.complex128)
    afftw2[:,:] = afftw

This issue could be OS or even C compiler dependent. It may be a good idea to include this in the PyFFTW wrapper in `pr

[2015-01-28 04:14] danielballan opened #202 "Idea for more tests"
This might be the key to better test coverage for linking and subpixel feature-finding.

http://blog.jessitron.com/2014/09/tdd-is-dead-long-live-tdd.html

I can think of trends that generative tests could follow: larger particles should be located more precisely; dense images should require more subnets; etc. These flexibility of this kind of testing feels right for scientific applications where w

[2015-02-02 16:57] caspervdw commented on #198
What shall I do with this one? Copying the PyFFTW produced result to a new array does cost some performance, but I think that if I have the issue other people may have it as well.

[2015-02-02 17:22] tacaswell commented on #198
I was going to suggest using `np.array(afftw, dtype=np.complex128)` for efficiency, but decided to bench mark it before sticking my neck out.  Good thing too:

[code]

and

[code]

[2015-02-02 17:24] tacaswell commented on #198
But, coming back to your question, I would just put the copy in as taking a performance hit is better than not working.

Have you raised this with either the pyfftw or fftw devs?

[2015-02-06 00:03] nkeim opened #205 "Selling trackpy on the homepage"
trackpy has many important strengths, and we pride ourselves on the overall quality and design of the code. However, there is a subset of those strengths that one might call "killer" features — ones that are sufficiently impressive that they could grab attention and/or convince someone to switch from an already-working solution. I can think of a few possible examples:

- Running on Python (but tha

[2015-02-06 08:52] caspervdw commented on #205
Good that you mention it, I will finish the tutorial this weekend.

[2015-02-12 16:08] caspervdw commented on #198
I checked out PyFFTW 10.0 from http://www.lfd.uci.edu/~gohlke/pythonlibs/#pyfftw and the issue is solved! I suggest that we just remove the fix as soon as 0.10.0 is released on pypi.

[2015-02-12 16:18] danielballan commented on #198
Agreed. As PyFFTW is optional anyway, we can require the latest version.
I'm glad to have this in for now though. Keep an eye and let us know if
0.10.0 releases before 0.3.

On Thu Feb 12 2015 at 11:08:48 AM Casper van der Wel <
notifications@github.com> wrote:

[2015-02-14 18:22] mmdriscoll opened #208 "disregard"

[2015-02-14 20:25] #208 closed

[2015-02-17 09:03] caspervdw commented on #198
Please ignore my previous message, I tested again today and it does not work with 0.10.0. Probably I made a mistake in testing previously. I will tell the pyfftw devs that the problem persists in 0.10.0

[2015-02-17 13:55] caspervdw commented on #198
I got some news: apparently PyFFTW produces a numpy array of type `clongfloat` (`'G'`), on which fourier_transform crashes:

    a = np.random.randint(0, 256, (50,50))
    fourier_gaussian(a.astype('D'), (1., 1.))  # OK
    fourier_gaussian(a.astype('G'), (1., 1.))  # hangs

[2015-02-19 06:41] nerduno opened #211 "MTrack2 vs trackpy"
I'm curious how trackpy compares to ImageJ's MTrack2.  In particular how does trackpy handle  disappearing and appearing particles?

Thanks,
Aaron

[2015-02-19 16:16] danielballan commented on #211
I am not familiar with MTrack2, but we use the Crocker--Grier algorithm (and elaborations thereon) described in [this paper](http://physics.nyu.edu/grierlab/methods/methods.html).

[2015-02-19 16:21] nkeim commented on #211
I don't think any of us is familiar with MTrack2. However, looking at their documentation, they have a less sophisticated (but still useful) way of dealing with ambiguous situations. When forced to choose, MTrack2 always chooses the nearest particle. The Crocker-Grier algorithm in trackpy doesn't minimize displacements locally (i.e. the nearest particle), but effectively minimizes displacements *g

[2015-02-19 16:56] nerduno commented on #211
Thanks for the very helpful information. I'm going to give trackpy a try.

On Thursday, February 19, 2015, Nathan Keim <notifications@github.com>
wrote:

[2015-02-19 17:37] nkeim commented on #211
Glad to hear it! The tutorials and docs assume some basic knowledge of Python and some willingness to learn about DataFrames, but other than that they are meant for a wide audience, so please let us know if you find problems with them. We recommend that you start with the IPython Notebook interface; even if you are unfamiliar with it, it is a great way to learn.

[2015-02-19 17:37] #211 closed

[2015-02-20 16:01] alexlib commented on #211
sorry to disturb, just wonder if you might consider trying the tracker from OpenPTV project? it's a fluid mechanics concept developed mainly for 3D turbulent flows, with all the calibration, photogrammetry, etc. see www.openptv.net

what we actually like a lot is your way to work with Pandas and HDF and we'll probably one day try to interface openptv to your great project, i.e. the user will colle

[2015-02-20 17:58] nkeim commented on #211
Thanks, @alexlib . OpenPTV looks very impressive, and it would be great if users could mix and match algorithms as needed.

[2015-02-28 20:43] apiszcz opened #213 "diag.dependencies() availability? vs documentation"
The documentation states there is a diag.dependencies()  in the section.

Diagnostic functions
diag.performance_report()	Display summary of which optional speedups are installed/enabled
diag.dependencies()	Give the version of each of the dependencies – useful for bug reports.
However the function does not appear to be int eh diag.py module.

(Pdb) pprint.pprint(dir(tpdiag))
['__builtins__',
 '__do

[2015-03-01 00:02] danielballan commented on #213
The (greatly expanded) documentation is a recent addition to trackpy, and
it describes version 0.3, which is still in development, to be released in
a month or two. From the release of 0.3 onward, we will be maintain
separate documentation for each version, but we don't have the manpower to
write docs for the current stable release, 0.2.x, retroactively.

If you like, see the installation instruct

[2015-03-03 21:18] apiszcz commented on #213
Thank you.
I'm am interested in some other features apparently coming in 0.3, link_df
adaptive search may help me out. I check the installation documentation but
did not see any 0.3 reference. FYI: I package the capability without
pip/easy... etc, by creating a standalone folder 'lib' with all
dependencies so no special installation is needed. (Windows 64 bit). numba
is providing about 2x speedup

[2015-03-04 00:31] danielballan commented on #213
The prediction feature was [added in 0.2.0 and refined in 0.2.1](https://github.com/soft-matter/trackpy/releases), and I don't think that has been specifically altered or updated since.

To install the version under development, which we plan to release as v0.3, see [this section of the installation instructions](http://soft-matter.github.io/trackpy/installation.html#latest-version-under-developme

[2015-03-04 05:47] apiszcz commented on #213
Thank you

I'm still having issues locating the package.
Concerning predict, understand, I should have said 'adaptive' is not in
0.2.4, appears to be a 0.3 capability.

FAIL
1) git clone https://github.com/soft-matter/channel/dev/trackpy
fatal: repository 'https://github.com/soft-matter/channel/dev/' not found

FAIL
2) ap@ubuntu:~/anaconda$ bin/conda install -c soft-matter/channel/dev
trackpy
Fetc

[2015-03-04 14:34] caspervdw commented on #213
I recently installed the dev version using the following (assuming you have `pip`, otherwise do `conda install pip` before):

    pip install http://github.com/soft-matter/trackpy/zipball/master

Could you try this?

[2015-03-04 15:55] danielballan commented on #213
In your first approach, the git install, that URL isn't quite right. "Channels" are a conda thing, not a github thing. As per [this section of the docs](http://soft-matter.github.io/trackpy/installation.html#more-information-for-experienced-python-users), use

    git clone https://github.com/soft-matter/trackpy
    pip install -e trackpy

The `pip install http://...` method is a good alternative.

[2015-03-04 15:55] tacaswell commented on #213
That clone command is wrong, it should be

[code]

For the second, it looks like you are having general connectivity issues as the errors are that conda can not connect to the servers.

[2015-03-04 15:56] danielballan commented on #213
@tacaswell and I are in sync today I guess.

[2015-03-04 20:22] apiszcz commented on #213
Thank you for the replies.
Your suggested command works. I did find this line in the instillation
documentation page.

git clone https://github.com/soft-matter/trackpy.git

In my packaging case I like to get the pure python files/folders copy
them to the a 'lib' folder, sys.path.insert(0,'lib') to use. So
installing on a platform is not really what was looking for conda/pip,
though i can usually l

[2015-03-04 20:31] apiszcz commented on #213
Another update, conda install with firewall off: (success) looks like I 0.3
installed on this test.

I see 'unknown' which may be correct == 0.3.

I see diag has dependencies which Dan told me is a 0.3 capability.

ap@ubuntu:~/anaconda$ bin/python
Python 2.7.9 |Anaconda 2.1.0 (64-bit)| (default, Dec 15 2014, 10:33:51)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)] on linux2
Type "help", "copyright", "cred

[2015-03-04 20:42] nkeim commented on #213
@apiszcz , consider using the `-e` ("editable") option for `pip`, which leaves the source code where you put it.

[code]

[2015-03-05 17:54] danielballan opened #219 "A Faster Bandpass"
[This notebook](http://nbviewer.ipython.org/urls/dl.dropbox.com/s/5cfyj0b046wq3ny/Making%20Bandpass%20Faster.ipynb?dl=0) benchmarks several different implementations of `bandpass`. I arrived at one that is twice as fast as trackpy's current implementation and up to 4X as fast with reasonable compromises in accuracy.

@nkeim, @caspervdw, @tacaswell and anyone else who is interested, would you run t

[2015-03-05 18:34] caspervdw commented on #219
This looks great!! I will run it and report the benchmarks on my windows box.

[2015-03-05 19:49] apiszcz opened #220 "predict reset_index stack trace"
1 Stack trace
2 Sample code

I am trying to follow the example from: http://soft-matter.github.io/trackpy/tutorial/prediction.html

Any thoughts appreciated, not sure what reset_index thinks f is  a string.

== 1 ==========================
Traceback (most recent call last):
  File "lib\testpre\trackpylearn.py", line 21, in <module>
    tr=pd.concat(pred.link_df_iter(f, 1.5))
  File "c:\p\testpre\l

[2015-03-05 19:55] danielballan commented on #220
I can reproduce.

[2015-03-05 20:02] nkeim commented on #220
Thanks for the excellent bug report! I'm looking into it now.

[2015-03-05 20:03] apiszcz commented on #220
Great, i was hoping my simple sample would help, Python 2.7.9 64 bit
BTW (Windows 7 64 bit)

On 3/5/15, Dan Allan <notifications@github.com> wrote:

[2015-03-05 20:07] apiszcz commented on #220
Thank you for trackpy, and this is the DEV version. 0.3somedaysoon

On Thu, Mar 5, 2015 at 3:02 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-03-05 20:16] nkeim commented on #220
The problem is that you are using `pred.link_df_iter()` like you would use `link_df()`, when they are not the same. `link_df_iter()` requires a sequence or iterator of DataFrames, one for each video frame, whereas `link_df()` takes a single DataFrame for the entire movie.

I think this points to a couple issues with trackpy that I'd like to check out a little more deeply:

1. Your mistake was a co

[2015-03-05 20:23] apiszcz commented on #220
That works, thank you. So the documentation I'm reviewing was the example I
tried. New result follows.
I also do not see how this change uses the
trackpy.predict.NearestVelocityPredict()

Is there an approach to handling particles with different velocity
characteristics as in this example?

particle 0 1,1 2,2 3,3 4,4
particle 1 10,10 20,20 30,30 40,40

    x   y  frame  particle
0   1   1      0

[2015-03-05 20:27] apiszcz commented on #220
This solves the trivial case, however still curious about velocity.

tr=tp.link_df(f,100)

    x   y  frame  particle
0   1   1      0         0
1   2   2      1         0
2   3   3      2         0
3   4   4      3         0
4  10  10      0         1
5  20  20      1         1
6  30  30      2         1
7  40  40      3         1

On Thu, Mar 5, 2015 at 3:16 PM, Nathan Keim <notifications@github

[2015-03-05 22:58] nkeim commented on #220
As you say, this is a trivial example, so you can just use a large `search_range` with no "tricks."

`NearestVelocityPredict` "learns" the velocities of your particles, but it does not know this in the first frame. So if `link_df_iter()` cannot link the first and second frames together, you get bad velocity data and `NearestVelocityPredict` will be useless. I think that is what is happening here.

[2015-03-05 23:02] apiszcz commented on #220
Great, I will try priming the pump with a velocity 'guess'. I spent some
time with a Kalman filter, similar startup issue until things settle, I
really need the first position of the item, so far trackpy is giving me.
I'll try your suggestion, thank you.

On Thu, Mar 5, 2015 at 5:58 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-03-06 03:42] nkeim commented on #219
Fantastic! I'd been waiting all day to try this for myself. It looks like you had some of your best ideas toward the end (as always happens), because I had to make some edits to get the notebook to run. So I'm sharing [my modified version](http://nbviewer.ipython.org/gist/nkeim/cb77b01385e3a1e39a7d). I adjusted the sample pool down to 200 images; 7.6 GB was a more comfortable fit on my MacBook.

I

[2015-03-06 04:24] danielballan commented on #219
Thanks. Yes, it occurred to me that documenting this will be tricky. FFTW becomes a *very* optional dependency. @nkeim I'll take you up on your offer to help. I'll start on `preprocessing.py` if you start on the performance tutorial.

But I'll wait to hear if non-OSX users report the same gains. I don't know how widely FFTW's performance varies between these architectures.

[2015-03-06 11:56] apiszcz opened #222 "Comment: numba performance!!!"
69,686 input detections
NUMPY   31,008 seconds
NUMBA          77 seconds

[2015-03-06 12:00] apiszcz opened #223 "linking.py time display to standard output"
Thoughts

1) Time status of linking, (including elapsed?)

At a minimum
Line 588,729 add timestamp, i'm noticing considerable pauses and monitoring the time between frame links is useful:

msg = "%s> Frame %d: %d trajectories present" % (datetime.datetime.now().isoformat(), frame_no, len(labels))

 2) Add a flag to supress these messages? or return the result set in a dictionary post run?
link_df(

[2015-03-06 12:16] apiszcz commented on #220
YEARS AGO MEI micro, take the ones you want in weight room.

On Thu, Mar 5, 2015 at 5:58 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-03-06 13:40] danielballan commented on #223
We are in the process of rethinking logging and diagnostics. Thanks for these suggestions. If you have time to read up on #183 and #184 we would welcome your thoughts on that work in progress.

[2015-03-06 14:32] caspervdw commented on #222
Is this feature finding?
That is extremely slow for numpy... did you compare the outputs?

Could you profile it for one frame and post the output? (`%prun locate(frame, diameter, engine='python'`))

[2015-03-06 15:03] apiszcz commented on #222
Yes, the outputs are the same count wise, # of trajectories and detections
per trajectory.
I will probably do more tests. I'm not using python notebook(I think that
is what you are showing). Is there another type of profile of interest?

On Fri, Mar 6, 2015 at 9:32 AM, Casper van der Wel <notifications@github.com

[2015-03-06 15:41] caspervdw commented on #222
I think you should do the following:

    import cProfile
    cProfile.runctx('tp.locate(frame, diam, engine="python")', {'frame': frame, 'diam': diameter}, {})

Or use `profile` if there is no `cProfile`

[2015-03-06 16:27] apiszcz commented on #222
I am not using the image processing capability, only link_df. FYI

On Fri, Mar 6, 2015 at 10:41 AM, Casper van der Wel <
notifications@github.com> wrote:

[2015-03-06 17:31] nkeim commented on #222
That kind of speedup for linking is uncommon, but not impossible. The algorithm is such that the pure-Python version *can't* really use the array-based operations of numpy. So it is an ideal case for numba. That's not true of the feature-finding algorithm, so the speedup there tends to be much less impressive. Anyhow, we're glad trackpy is working so well for you!

[2015-03-06 17:31] #222 closed

[2015-03-06 17:37] apiszcz commented on #222
Please find the attached cProfile output of the run.
See Frame 577 , in this case it was 6 minutes

http://apvm1.mitre.org/p/deepsearch/tools/deepsearch_v0033_20150214_164403.7z

On Fri, Mar 6, 2015 at 10:41 AM, Casper van der Wel <
notifications@github.com> wrote:

[2015-03-06 20:59] nkeim commented on #222
@apiszcz , the server seems unavailable. Perhaps you could create a gist?

[2015-03-06 21:58] apiszcz commented on #222
I'll try it inline:

Yes, but could it be faster?
FAST: numba is available and enabled (fast subnets and feature-finding).
FAST: Using pyfftw for image preprocessing.

2015-03-06T12:26:52.472000> Frame 0: 1 trajectories present
2015-03-06T12:26:52.477000> Frame 1: 2 trajectories present
2015-03-06T12:26:52.481000> Frame 2: 4 trajectories present
2015-03-06T12:26:52.484000> Frame 3: 5 trajectories

[2015-03-06 22:10] nkeim commented on #222
OK, now I understand what you mean. trackpy encountered an usually large subnet in that frame. The tutorial on subnets may help you understand what is going on. This may be an appropriate movie for using adaptive search.

[2015-03-06 22:12] apiszcz commented on #222
I plan to try adaptive and velocity next/soon.
Thank you for the review.

On Fri, Mar 6, 2015 at 5:10 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-03-06 23:04] apiszcz commented on #222
Adaptive search is about 10-20x faster, and not pausing ...
Thank you for adding this to 0.3 candidate

On Fri, Mar 6, 2015 at 5:10 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-03-08 18:35] tacaswell commented on #222
@apiszcz Be aware that adaptive search is getting faster by truncating the search range.  This can lead to different results than if you ran with a fixed search range.  My guess is that this will artificially shorten tracks and in the worst case introduce erroneous linking.  If you only have one frame with significant sub-nets my knee-jerk reaction is that some thing caused your whole frame to jum

[2015-03-08 19:01] apiszcz commented on #222
Thanks, concur on limits/threshold producing unexpected truncation. I
understand nothing in this topic area is likely to be 'perfect' or even as
good as tired human :).. However scale is an issue, and getting some of the
process automated is a step in the right direction.

I reviewed some of the differences and am still learning. However in my
case differences are nominal. I am also trying to comp

[2015-03-08 20:20] nkeim commented on #222
I agree with both @tacaswell and @apiszcz . The "glitch" frame should get special attention. I encounter vibrational glitches in my own data, but thankfully we are able to discard the fraction of the movie that's affected by the glitches and still do our science. Adaptive search lets me track the entire movie first without a lot of fiddling, and then identify the glitches and figure out how to dea

[2015-03-09 13:00] caspervdw commented on #219
I ran the notebook and got similar results on my Win64 computer. Fantastic!!

Concerning the FFTW implementation: if this code supersedes the FFTW code, this would not throw away our work on FFTW. The code will stay in the git history anyway for future reference. Most users will not be interested in this code, as the new one is a lot faster and has the same functionality. If people would want to d

[2015-03-09 18:20] nkeim commented on #219
I hadn't thought of referencing the other implementation(s) in the docs. That would take care of the educational/research benefit of having multiple implementations, while saving us from having to maintain and wade through vestigial code.

However, I'll bring up one other reason to keep the old version around, at least for a couple more releases: testing. The new code may look OK and pass all our

[2015-03-09 18:22] nkeim commented on #219
That being said, in the case of our use of FFTW specifically, I have nothing to counter @caspervdw 's argument for removing it.

[2015-03-09 18:38] danielballan commented on #219
Good! @tacaswell reports that he sees similar speed gains in Linux.

I think it would be better to keep the old bandpass somewhere that is programmatically accessible in trackpy -- at least for one more release. Alternative implementations could be relegated to "developer code," not imported by default, and the optional FFTW dependency could be mentioned in the relevant docstring (and API docs) bu

[2015-03-10 15:46] caspervdw commented on #219
I agree with your approach @danielballan, we can keep it in for one release at least. Maybe warn somewhere that the legacy codes could be removed somewhere in the future.

[2015-03-10 16:03] tacaswell commented on #219
I don't see any reason to remove it.  I think this is analogous to keeping the recursive, non-recursive, and numba linking methods around (and we should add a version based on the Hungarian optimization algorithm).

Most users will only use the default, but if people want to dig down and try a different one (because _their_ science is a special snowflake) it is available.

[2015-03-18 14:40] danielballan commented on #213
Looks like conda worked in the end. The version string isn't turning out right, but that's a known issue to be tackled at release time.

[2015-03-18 14:40] #213 closed

[2015-03-18 22:54] apiszcz commented on #213
Dan: I did not use conda, thought I installed it. Instead I grabbed the
source only, created a lib\trackpy folder and used it in that form.
Concerning the version number, i'm living it with whatever is in there,
later with 0.3 hits, I'll set it if not correct. I'm starting to get some
yield from trackpy, I'll some questions later about he prediction piece. in
particular it seems like the velocity

[2015-03-18 22:59] nkeim commented on #213
I'm not sure I understand. `NearestVelocityPredict` is supposed to use each particle's own distinct velocity (unless the particle is new). The velocity of other, nearby particles should be irrelevant.

[2015-03-19 05:58] apiszcz commented on #213
thanks will give it some time and test.

On Mar 18, 2015, at 18:59, Nathan Keim <notifications@github.com> wrote:

I'm not sure I understand. NearestVelocityPredict is supposed to use each
particle's own distinct velocity (unless the particle is new). The velocity
of other, nearby particles should be irrelevant.

—
Reply to this email directly or view it on GitHub
<https://github.com/soft-matter/t

[2015-03-19 19:18] nkeim commented on #220
Addressed by #221, pending merge.

[2015-03-19 19:18] #220 closed

[2015-03-20 00:29] nkeim commented on #190
The refactor in #217 (possibly combined with newer versions) has made the code faster and more datatype-agnostic, while being less reliant on numba's "magic" features. Closing…for now.

[2015-03-20 00:29] #190 closed

[2015-03-20 11:53] apiszcz opened #225 "trackpy announcement mail list ?"
Is there a trackpy announcement list? (announces when a new release or minor release is available?)

[2015-03-20 14:00] danielballan commented on #225
Not yet. In the past we have announced releases on GitHub issues. As our userbase is growing, maybe it's good time to start one.

[2015-03-20 15:54] nkeim commented on #225
Don't forget [the Google group](https://groups.google.com/forum/#!forum/softmattersoftware). That was meant to be a low-volume way to announce major releases and events.

[2015-03-20 21:23] apiszcz opened #226 "NUMBA vs NUMPY performance and diag_ fields missing."
1. not sure what happened in my earlier test where numba was faster than numpy, now I'm seeing numpy faster on small problems.
2. I tried to enable diagnostics, however I'm not seeing any of the diag_ being created, I'll probably step into the code to see what is going on.

[2015-03-20 22:14] apiszcz opened #227 "NearestVelocityPredict and Adaptive Search"
Is there any work or thoughts on using Adaptive and NearestVelocityPredict, or is that possible now?

[2015-03-21 20:43] apiszcz commented on #227
DISREGARD located information.

[2015-03-21 20:43] #227 closed

[2015-03-23 22:55] nkeim commented on #226
1. This is a known "issue": the pure-Python code (no numpy) is actually *slightly* faster than the numba code for trivial subnets. However, for large subnets, the numba code is *orders of magnitude* faster. That is why we have made numba the default. But you may get a boost from using one of the pure-Python linkers instead. We're aware of this and may eventually allow trackpy to automatically choo

[2015-03-26 03:57] apiszcz commented on #226
Has anyone considered a quarterly or less frequent teleconference to discuss topics about new capabilities, performance, use cases etc,?

[2015-03-26 12:34] danielballan commented on #226
Sure, that sounds worthwhile. Some of us used to organize a meetup at the APS march meeting, though it didn't happen this year, and of course that doesn't reach everyone who might be interested.

Currently, we are prioritizing polishing exiting features over new enhancements, as much as been added in the last several months and we'd like to get v0.3 released. But it's never too early to discuss id

[2015-03-28 18:18] apiszcz opened #230 "Feedback: Velocity Prediction"
Testing velocity prediction and trackpy and measuring great results against known trajectories for the problems under consideration.

[2015-03-29 14:37] nkeim commented on #230
That's wonderful! Thanks for letting us know.

[2015-03-29 14:37] #230 closed

[2015-04-09 20:41] apiszcz opened #231 "PANDAS warning using pred.link_df_iter()"
I am getting the warning below when calling pd.concat(pred.link_df...)

pred=trackpy.predict.NearestVelocityPredict(span=ld['velspan'])
f_iter=(frame for fnum, frame in df.groupby('frame'))
dft=pd.concat(pred.link_df_iter(f_iter, search_range=ld['d'], memory=ld['m'],adaptive_stop=ld['astop'],adaptive_step=ld['astep']
 ))

elsewhere I use df.is_copy = False to disable this warning. Is there any adv

[2015-04-09 21:44] nkeim commented on #231
I can't seem to reproduce this. It might help to have a stack trace. Try something like

[code]

Your pandas and trackpy versions could be helpful too. Thanks!

[2015-04-09 21:59] apiszcz commented on #231
trackpy is pre3.0
pandas 0.16
That is the full trace I see, for now I'm disabling with -Wignore, but it
may be nice to understand the issue.
​

On Thu, Apr 9, 2015 at 5:44 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-04-09 22:02] apiszcz commented on #231
import warnings
                    with warnings.catch_warnings():
                        warnings.simplefilter('error')
                    oL.logDisplay("%s> %s APTrack:run velocity prediction
search\n"%(oU.time_stamp(),src))

pred=trackpy.predict.NearestVelocityPredict(span=ld['velspan'])
                    f_iter=(frame for fnum, frame in df.groupby('frame'))
                    #df.is_copy

[2015-04-09 22:04] nkeim commented on #231
Your code needs to be at the same indentation level as `simplefilter` (i.e. inside the `with`).

I'll be interested to see if the warning is still there once #221 is merged.

Thanks!

[2015-04-10 09:51] apiszcz commented on #231
​Oops, thanks.

20150410T054636.633000> velocity prediction search
Traceback (most recent call last):000001: 000003 trajectories present
  File "lib\tapp\tapp.py", line 3264, in <module>
    main()
  File "lib\tapp\tapp.py", line 3247, in main
    if 'track' in modes: oAPT.run(oC,oG,oL,oU,oV,modes,src)
  File "lib\tapp\tapp.py", line 963, in run
    adaptive_step=ld['astep']
  File "C:\p\tapp\lib\

[2015-04-10 11:14] apiszcz opened #232 "linking.py:Linker? search_range"
The Search range comment in Linker indicates the type is integer, I have been using floating point values less than 1.0 for the coordinate reference and distance measures and getting results. Generally trackpy 'seems to be' addressing pixel space coordinates, I'm interested to understand why I'm seeing reasonable results with search_range < 1.0 (.e.g. 0.05, 0.005, etc.)

    search_range : integer

[2015-04-10 11:55] apiszcz commented on #232
Elsewhere in the documentation , it references floating point values for search range.

http://soft-matter.github.io/trackpy/tutorial/adaptive-search.html

[2015-04-10 14:24] danielballan commented on #232
The docstring is incorrect. Would you be willing to make a PR to fix it? It occurs in a couple places in that file.

[2015-04-10 17:10] nkeim commented on #231
Thanks, this is very helpful! I'll have a look, though it might not be for a week or two. Let me know if this becomes more urgent.

[2015-04-10 20:14] apiszcz commented on #231
That is fine (two weeks, etc.), appreciate it, I'm using -Dignore for now.
Again from what I learned PANDAS proper way is to use a different index
mode for assignment or ​to do this (which you can set prior to each
instance of the situation)
df.is_copy=False

On Fri, Apr 10, 2015 at 1:10 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-04-12 19:50] apiszcz opened #234 "Observation/question: linking.py, memory>0"
Version 0.3dev, Pandas 0.16, Python 2.79
linking setup is adaptive with velocity prediction.
It seems that I am seeing linking to points beyond the search range and even beyond m*search_range.

If memory=5 and search_range is 1.0, will the maximum possible distance for a link association be 5.0?

[2015-04-12 23:10] nkeim commented on #234
The maximum possible linking distance in that case should be 5 * (last known particle velocity) + 1.0.

[2015-04-16 22:55] apiszcz opened #235 "linking.py link_df_iter standard output update thought"
The update rate of the print_update call impacts performance with high frame count jobs that have few trajectories. One possible easy modification might be to add a parameter to the call which specifies the MODULO update of the print message, if 0 update continuously, otherwise use the value to control the emission of the output.

In the following I have 8 runs for a linking task, saving 10 second

[2015-04-17 15:06] nkeim commented on #235
This is somewhat related to #184. I've encountered this same bottleneck before, and it's frustrating.

My own inclination is to make it possible to suppress status updates altogether (already in that PR), and so avoid adding an option to the linking functions if at all possible.

I should mention that in the past I've found it easy to wrap `link_df_iter()` with my own progress-reporting mechanism,

[2015-04-19 13:10] apiszcz commented on #235
Understand, offering a mod option may enable a middle ground who want
status at some interval, but not so much it reduces overall performance. ​

On Fri, Apr 17, 2015 at 11:06 AM, Nathan Keim <notifications@github.com>
wrote:

[2015-04-25 18:02] nkeim commented on #231
See #236 for a fix. I was able to reproduce this condition only once as a user (there may be a random aspect as to whether a given Pandas operation creates a copy or not). But I could make it happen every time by setting editing the trackpy code to set `is_copy = True` on the DataFrame in question.

[2015-04-26 13:10] caspervdw opened #237 "Issues with feature characterization"
For making some estimates of static error in anisotropic feature finding, I did some work on the static error estimation. In [this](http://nbviewer.ipython.org/urls/dl.dropboxusercontent.com/u/36853001/Feature%20characterization.ipynb) notebook I tried to make clear that there are some fishy things going on in the feature characterization.

I would like to propose to do all feature characterizatio

[2015-04-26 17:49] danielballan commented on #237
Thanks for investigating and presenting this thoroughly. The "signal" is certainly the most error-prone input to the noise computation, and your new way of calculating epsilon using mass instead of signal is clearly superior.

Do you know whether Savin & Doyle intended "signal" to come from the processed on unprocessed image? I couldn't convince myself either way, but I decided that the max pixel

[2015-04-26 18:19] nkeim commented on #237
Wow, the current behavior does not look good!

Preprocessing is critical for some experimental images, because various optical errors or artifacts can add a long-wavelength "background" that must be subtracted off. This background would otherwise inflate the signal. Perhaps there is a different way to do the rescaling? Or as @danielballan suggests, maybe there is a bug somewhere.

[2015-04-27 16:54] caspervdw commented on #237
The mass is overestimated with a factor 16, so it seems to have something to do with the `scale_to_gamut` preprocessing that rescales my 12-bit image to 16-bit (giving you the factor 16).

I understand that background subtraction is needed, but why the rescaling?

[2015-04-27 17:20] danielballan commented on #237
The bandpass returns a float image, which is rounded to an integer dtype for performance reasons. (IIRC, I found that the dilation step in particular was much faster for ints.) Before this rounding takes place, the rescaling fills the gamut to retain as much contrast as possible. For uint8, this makes a difference: more detail is kept. But for higher bit depths, I would guess that is makes little

[2015-04-27 18:37] caspervdw commented on #237
If the rescale has this function then I am not directly in favour of removing it. I see the preprocessing as something that only helps the subpx refinement; the characterization should - in my opinion - be about the non-processed image.

So I propose changing 'mass' to just the sum of raw px intensities. `signal` is probably better from the preprocessed image (currently it is taken from the raw im

[2015-05-15 13:34] scabi commented on #226
I am testing numpy and numba for "locate" method. On my system numba is slower 2-6 times! I am using a Mac Anaconda Python 3.4 with all the latest package updates. My current workload is 5M pixel image sequences with couple hundred about 40x40 pixel size features each.
Is this normal, is it something we can troubleshoot?

[2015-05-15 16:26] nkeim commented on #226
Yes, we're always interested in unusual cases like this. Can you tell us what version of `trackpy` you're using? Assuming you used a method like `pip`, `conda`, `setup.py`, etc. to install it, this is just the contents of `trackpy.__version__`. The reason I ask is that a similar problem is addressed in the development branch, via #217.

The above discussion was for the subnet solver (during the li

[2015-05-15 18:07] scabi commented on #226
Soft-matter channel did not install (had some conflicts with conda python3.4) so I installed it from danielballan's channel where version is listed v0.2.4.post93. trackpy.__version__ gives 'unknown' though. I can force an install from the official channel if needed.

I wasn't sure if something common causes these performance issues. Feel free to open a new ticket if you think that is more appropri

[2015-05-16 14:26] apiszcz commented on #226
I had similar issues with the install and used the .zip file and have no
issues in general. Though __version__ is not set. This was raised earlier
and may be fixed by now. I'm using the latest dev release..

On Fri, May 15, 2015 at 2:07 PM, scabi <notifications@github.com> wrote:

[2015-05-16 14:28] danielballan commented on #226
I have gotten a little better at packaging since the last time I dug into
trackpy's build process. I think I can address most of these problems.

On Sat, May 16, 2015 at 10:26 AM apiszcz <notifications@github.com> wrote:

[2015-05-16 14:31] apiszcz commented on #226
Have there been any estimates on the when we might see next release
candidate or full release?

On Sat, May 16, 2015 at 10:28 AM, Dan Allan <notifications@github.com>
wrote:

[2015-05-18 02:39] tacaswell opened #240 "replace our sub-class finding code with bolton implementation"
See https://boltons.readthedocs.org/en/latest/typeutils.html#boltons.typeutils.get_all_subclasses

Some what larger discussion, I think we should pick up a dependence on boltons`

[2015-05-20 17:57] mmdriscoll opened #241 "supress output?"
Is it possible to add a kwarg to suppress the output of locate and track?  (by output, I refer to the frame-by-frame update of the number particles/tracks found)  I looked through the code, and it did not seem like this option is currently available.

[2015-05-20 19:30] #234 closed

[2015-05-20 19:32] nkeim commented on #241
Hi! It's coming… see #184 . A [recent comment by Dan](https://github.com/soft-matter/trackpy/pull/184#issuecomment-97172654) summarizes the current plan. See also #235, which suggests a related feature. If you can take a couple minutes to weigh in on these, it would be very welcome.

[2015-05-20 19:32] #241 closed

[2015-05-22 18:18] danielballan commented on #226
Not recently. There are several giant PRs to review and tests. Speaking just for myself, I think we can put out a release candidate in June or early July.

[2015-05-23 13:51] danielballan opened #243 "Read and write files from OpenPTV"
As discussed over email, someone from our project or the OpenPTV project should tackle integrating their readers:

https://github.com/OpenPTV/postptv/blob/master/flowtracks/io.py
https://github.com/OpenPTV/postptv/blob/master/flowtracks/trajectory.py

with our FramewiseData base class:

https://github.com/soft-matter/trackpy/blob/master/trackpy/framewise_data.py#L12

[2015-05-25 09:56] caspervdw commented on #219
Is anybody working on the implementation of this? I am willing to invest some time to write a bandpass based on `scipy.ndimage` convolution, also to solve the mass and signal normalization issue discussed in #239

[2015-05-25 13:25] danielballan opened #246 "Clean up *_THRESH magic numbers."
Make SHIFT_THRESH and GOOD_ENOUGH_THRESH optional arguments of the refine functions and document them. Thanks @sciunto for catching this.

[2015-05-26 16:19] nkeim commented on #246
This would also partly address issue #191, pointed out by @RebeccaWPerry

[2015-05-28 14:30] danielballan opened #247 "Tutorial bugs"
- Replace the seaborn import(s) with mpl.style.use, or nothing.
- The uncertainty tutorial is missing a numpy import.

[2015-05-30 00:30] #231 closed

[2015-05-30 22:09] sciunto opened #248 "doc on readthedoc"
Hi,

the page on https://trackpy.readthedocs.org/en/latest/# is not updated any more. Since it seems to be replaced by https://soft-matter.github.io/trackpy/, I think it's less confusing if readthedoc is deleted :)

[2015-05-31 04:03] tacaswell commented on #248
Indeed!

It _is_ trying to update, but we have picked up too many dependencies that they do not support so we have like 200 failed documentation builds!

I tried to make all of the docs over there inactive/private, but that doesn't seem to be working.

I am :+1: on deleting readthedocs, but don't want to unilaterally do it.

[2015-05-31 05:14] nkeim commented on #248
I'm for it too. For a project the size of trackpy, one documentation website is enough!

[2015-05-31 13:12] danielballan commented on #248
Agree
On Sun, May 31, 2015 at 1:14 AM Nathan Keim <notifications@github.com>
wrote:

[2015-05-31 18:54] tacaswell commented on #248
Deleted. @sciunto Thanks for kicking us to do something about this.

[2015-05-31 18:54] #248 closed

[2015-06-21 22:51] nkeim commented on #205
As far as I'm concerned, this issue was adequately addressed by @caspervdw . Onward to v0.3!

[2015-06-21 22:51] #205 closed

[2015-06-22 00:13] nkeim commented on #37
Finally: https://github.com/soft-matter/trackpy/wiki/Information-for-contributors . Please have a look. Too wordy? Too lax? Too strict?

Also, we now have a "core contributors" section on the [introduction page](http://soft-matter.github.io/trackpy/introduction.html). Good enough for now.

[2015-06-22 00:20] #127 closed

[2015-06-22 00:24] nkeim commented on #110
Addressed by #109

[2015-06-22 00:24] #110 closed

[2015-06-22 00:32] tacaswell commented on #37
:+1:

[2015-06-24 00:50] danielballan commented on #37
Yep, looks great. Thanks for taking the time to put this together.

[2015-06-24 01:02] nkeim commented on #37
Great! Please edit as inspiration strikes.

[2015-06-24 01:02] #37 closed

[2015-07-10 01:24] nkeim commented on #247
In the walkthrough, `minmass=2000` no longer works. `minmass=200` seems OK.

[2015-07-10 01:51] nkeim commented on #247
Near the end of the walkthrough, parallel feature-finding fails for me because "`PicklingError: Can't pickle <type 'function'>: attribute lookup __builtin__.function failed`"

[2015-07-23 01:59] pablocobelli opened #253 "Conda conflict vs. Python 3.4"
Congratulations on a great python package.
However, trying to install it in anaconda with python 3.4 gives:

Fetching package metadata: ......
Solving package specifications: ..
Error: Unsatisfiable package specifications.
Generating hint:
[      COMPLETE      ]|###################################################| 100%

Hint: the following packages conflict with each other:
  - trackpy
  - python

[2015-07-23 02:09] nkeim commented on #253
This sounds like a conda packaging issue on our part. As far as we know trackpy is fully compatible with Python 3.4; in fact, our automated CI testing runs on Python 3.4 (installed via miniconda).

In the meantime, `pip install trackpy` should install the same stable version as `conda install trackpy`. Let us know if it doesn't work!

[2015-07-23 11:40] pablocobelli commented on #253
@nkeim: Thanks for the quick answer. I'm able to confirm that pip install trackpy successfully installs pims-0.2.2, tifffile-0.6.2, and trackpy-0.2.4.

[2015-07-26 19:19] danielballan commented on #253
Yep, the issue is related to numba, and it will be resolved in the upcoming release.

[2015-07-26 21:25] pablocobelli commented on #253
@danielalban: That's great! Thanks for your quick response. Congrats again for a very useful package.

[2015-07-28 20:57] nkeim opened #255 "DOC: Some functions not rendered as hyperlinks"
On the [API reference](http://soft-matter.github.io/trackpy/api.html) page, function names embedded in the text (such as `link_df()` and `link_df_iter()` at the top of the page) do not work as hyperlinks to the detailed documentation.

[2015-07-29 14:20] danielballan commented on #255
Piggybacking on this issue, I also noticed that the "Motion Analysis" section of the docs is completely empty. Must be a sphinx error crept in. I'll try to fix this today.

[2015-08-07 09:55] caspervdw opened #257 "More modular feature finding"
As discussed in #239 and recently in #244, I would like to open a discussion on making feature finding more modular and hopefully more flexible and readable. I had a look at the code and we could breakdown locate in the following steps:

[code]

To make the API user-friendly, we can work with `function`, `_function` combinations respectively including and not including the parameter checks.

I won

[2015-08-09 10:14] fayazr opened #258 "Drift command and trjectory plotting"
In trackpy I am unsure of the use of the tp.compute_drift(t) command, I am calculating the trajectory for a rotating object using the bubble track tutorial. However, the x,y values are fluctuating and the drift values are similar to the values I need. After subtraction of the drift, the original trajectory disappears and I get some random motion.

[2015-08-09 14:53] danielballan commented on #258
Do you mean that, in your case, the coordinated motion -- the motion extracted by `compute_drift` -- is the motion of interest?

[2015-08-09 15:15] danielballan commented on #257
I think this is a good direction. Some quick thoughts:

1. I want `locate` to stick around in some form. It's good for new users with simple tasks.
2. But I think `batch` should be retired, in favor of a for loop. We don't have to remove it from the package, but we shouldn't use it in our examples.
3. I agree that `invert` should be removed from `locate`.

In my opinion, lowest-level API should fa

[2015-08-09 16:24] fayazr commented on #258
The rotation you see in a sinusoid all motion in a part of the disc. The motion increases to a maximum and decreases to zero in one direction and then the same motion in opposite direction. I wanted to know the velocity dx and dy, but unfortunately it gives wrong values. But the drift values agree to the sinusoid all wave pattern of velocity variation. So I wanted to know how the drift was calcula

[2015-08-09 16:25] fayazr commented on #258
Sorry not fx and dt, dx and dy values,

Thanks!!!!

[2015-08-09 16:40] danielballan commented on #258
The drift calculation assumes uniform translation -- no rotation and no
stretching. If you are interested in extending it to cope with rotation, I
think that would be useful to others as well. (I could have used this in my
grad work, but I never got around to it.)

The relevant code is here:
https://github.com/soft-matter/trackpy/blob/master/trackpy/motion.py#L134

On Sun, Aug 9, 2015 at 12:25 PM

[2015-08-10 13:51] tacaswell commented on #257
I am ambivalent to 1. heartily agree with 2. and 3.

I strongly agree with (1) and grudgingly accept (2).

[2015-08-10 22:09] nkeim commented on #257
I'm in favor of `locate` staying around. The main reason is that so many parameters are length scales that go as `diameter`. The secondary reason is that we are lucky that for many users, our core API is 2 functions. That makes trackpy super easy to get started with, as @danielballan says.

If we're considering deprecating or dropping parts of the API, what about cutting the number of parameters f

[2015-08-10 22:10] nkeim commented on #257
Also, to be clear, we're talking about v0.4 at the earliest, right? :grimacing:

[2015-08-11 01:28] danielballan commented on #257
Haha, yes, we really do need to declare feature freeze on 0.3. I have no
problem tagging 0.4 on its heels if we have some momentum.
On Mon, Aug 10, 2015 at 6:10 PM Nathan Keim <notifications@github.com>
wrote:

[2015-08-11 14:10] fayazr commented on #258
Thanks, I am trying to understand the methods implemented in trackpy, it will take sometime. I will try to make contributions once I have a complete picture.. You guys have done a great job!.. :)

[2015-08-11 14:12] fayazr commented on #258
Is there any publication of the Crocker–Grier algorithm?

[2015-08-11 14:14] danielballan commented on #258
http://physics.nyu.edu/grierlab/methods3c/

On Tue, Aug 11, 2015 at 10:12 AM fayazr <notifications@github.com> wrote:

[2015-08-16 19:41] danielballan commented on #198
Closing, now the FFTW is relegated to legacy.

[2015-08-16 19:41] #198 closed

[2015-08-16 19:44] danielballan commented on #175
Evidently, this has been fixed. @tacaswell do you know how to test, so we can be sure?

[2015-08-16 19:46] danielballan commented on #240
This is really aimed at pims, right?

[2015-08-16 19:48] danielballan commented on #246
This can be addressed when we rework at the feature-finding API, #257.

[2015-08-16 19:58] danielballan opened #260 "Investigate normalization questions raised in #239"
We added `raw_mass`, but there are still open questions about when rescaling is appropriate and how best to facilitate user control over whether processing applies to the raw or processed image.

[2015-08-16 19:59] danielballan commented on #237
Note to selves: this was partially addressed in #239. Discussion will continue in #260 after the v0.3 release.

[2015-08-16 20:02] #142 closed

[2015-08-16 20:05] #219 closed

[2015-08-16 20:09] #225 closed

[2015-08-16 20:09] #232 closed

[2015-08-16 20:41] danielballan commented on #197
Backporting is hard. But I still think we should do this if it's feasible. @tacaswell, how does this work tagging-wise?

[2015-08-16 20:50] danielballan commented on #247
@nkeim What version of IPython?

[2015-08-16 21:42] danielballan commented on #253
The master branch conda recipe is compatible with 3.4. I just ran a build which you can try out if you like.

[code]

(Note: Unfortunately, due to some buggled tagging in the 0.2.4 release, the version reads as 0.2.3+ even though it is actually more up-to-date than 0.2.4.)

[2015-08-16 21:46] danielballan commented on #247
@nkeim Re: the minmass change, is this because we are now filtering on raw_mass? Just making sure I understand what happened.

[2015-08-16 21:48] danielballan commented on #226
It's hard to diagnose __version__ issues, but I am hopeful that #262 may fix that problem. If you are able to run your code on the current master branch, I'm interested in revisiting your original question about performance.

[2015-08-16 22:10] danielballan commented on #200
@RobWardNZ, thanks again for these generously detailed notes. Apologies for letting them linger so long. Point by point:

- [ ] We can add a comment beside `%matplotlib inline` indicating that this only applies in an IPython notebook. You raise a good point that users will be alarmed if the very first step fails!
- [ ] Should we switch to Python 3 style print statements? My only hesitation here is

[2015-08-16 23:12] danielballan commented on #255
We are not alone here, it turns out. This is a major bug that was introduced in sphinx. See shoyer's comment: https://github.com/sphinx-doc/sphinx/pull/1828#issuecomment-110239004

[2015-08-16 23:26] danielballan commented on #255
OK, the sphinx bug has been fixed but not yet released. Use sphinx v1.2.3 to build our docs until a version greater than 1.3.1 is available.

Docs have been fixed and uploaded.

[2015-08-16 23:26] #255 closed

[2015-08-16 23:38] tacaswell commented on #200
`from __future__ import print_function` should be at the top of _every_ script ;)

[2015-08-16 23:51] tacaswell commented on #197
We are too small to do excessive back support, if someone really wants it they can offer to do the backport.

I suggest you watch http://pyvideo.org/video/3764/contributors-colleagues-clients-customers-su to get some background on what is pushing my thinking on that position.  I have been thinking about this for a while, but that talk does a very good job of articulating it.

[2015-08-16 23:54] danielballan commented on #197
Good enough for me. I leave it to @nkeim to close if he is also persuaded.

[2015-08-16 23:58] #183 closed

[2015-08-16 23:59] tacaswell commented on #240
Probably, sorry.

[2015-08-17 00:05] #240 closed

[2015-08-17 07:48] caspervdw commented on #247
@nkeim @danielballan All mass results are changed because of the issue discussed in https://github.com/soft-matter/trackpy/issues/237 . The `scale_to_gamut` rescales the (preprocessed) `image` values so that the calculated mass is overestimated. As of https://github.com/soft-matter/trackpy/pull/239 this is counteracted by dividing the masses by the scalefactor.

This must be mentioned in the relea

[2015-08-17 10:07] caspervdw commented on #247
Just made a PR to update the 3D tracking: https://github.com/soft-matter/trackpy-examples/pull/26

[2015-08-17 23:02] nkeim commented on #197
Agreed. This was a good idea when first proposed, but as time has passed it's become both more difficult and less compelling. If someone needs to reproduce results from an old version of trackpy, it's no problem as long as they're careful about dependency versions. That would always be true to some extent. And we can offer some guidance as needed. Thank goodness for conda.

Passing thought: I wond

[2015-08-17 23:02] #197 closed

[2015-08-17 23:21] nkeim commented on #247
I figured it was something like that. This is a big, big deal, because it means that *most* code that calls trackpy needs to be edited to give comparable results. It would be as though we switched from diameter to radius — except the conversion is not necessarily straightforward.

How can we explain this in the release notes? We need to explain the reason for this change and show an easy way to co

[2015-08-18 01:51] danielballan commented on #247
That reads right to me. We always knew that v0.3 would break some things.
This will probably be the most important and potentially confusing change.
But it fixes something about the IDL implementation that always bugged me.

On Mon, Aug 17, 2015 at 7:21 PM Nathan Keim <notifications@github.com>
wrote:

[2015-08-18 04:28] #159 closed

[2015-08-18 08:52] #141 closed

[2015-08-18 12:36] danielballan commented on #182
Above @nkeim wrote

The target release for the revamped docs has been v0.3. Is it OK with everyone if we start with that, later branching the docs for v0.4.x?

[2015-08-18 12:38] danielballan commented on #223
Closed by #184. Point (1) above doesn't need trackpy; users can customize logging however they want using the Python logging framework.

[2015-08-18 12:38] #223 closed

[2015-08-18 15:44] caspervdw commented on #247
The scaling factor is provided by `scalefactor_to_gamut`, a good rule of thumb is as follows:

* Calculate the scaling factor:
for <8-bit integer or float images: 255 / (maximum intensity in image)
for <16-bit integer images: 65535 / (maximum intensity in image)

* Divide minmass by that factor.

I guess we can write an `minmass_old_to_new` convenience function. What about that?

[2015-08-18 22:43] danielballan commented on #247
I like that plan. It's a simple enough function, but there's no reason not to be as friendly as possible.

[2015-08-20 00:13] tacaswell opened #265 "look into using skimage's moment computations"
See https://github.com/ahojnnes/scikit-image/blob/master/skimage/measure/__init__.py#L8

A very quick glance at the code makes me think they are cythonized.

[2015-08-20 02:19] danielballan opened #266 "Are we ready to tag v0.3.0rc1?"
There are a few outstanding items on the v0.3 milestone, but they all relate to build issues (conda), docs, and trackpy-examples. How do we feel about a release candidate this weekend, aiming to tag the final v0.3.0 by mid-September?

I'm not forgetting the discussion around a minor tweak to logging, which could sneak in before the final v0.3.0 or go into v0.3.1. I also want to look at `GOOD_ENOUG

[2015-08-20 02:20] tacaswell commented on #182
We should still build and publish the old docs.

On Tue, Aug 18, 2015 at 8:37 AM Dan Allan <notifications@github.com> wrote:

[2015-08-20 02:21] tacaswell commented on #175
Import both and see if it blows up?

On Sun, Aug 16, 2015 at 3:44 PM Dan Allan <notifications@github.com> wrote:

[2015-08-20 02:25] danielballan commented on #182
Hark! Was that the sound of someone volunteering to help me deploy multiple versions of sphinx docs?

[2015-08-20 02:31] tacaswell commented on #182
Sure, the way we do it for mpl is to have sub folders and link to their
index.html files from the main page (ex http://matplotlib.org/1.2.1/ is the
oldest mpl docs).

On Wed, Aug 19, 2015 at 10:25 PM Dan Allan <notifications@github.com> wrote:

[2015-08-20 02:36] danielballan commented on #182
Thanks buddy. :- )

[2015-08-20 10:54] nkeim commented on #266
I heartily agree. The major changes that break API compatibility or significantly change output are all in place, so what's left in the pipeline can wait until v0.3.1 — unless `GOOD_ENOUGH_THRESH` is a trivial fix, in which case it should go in now because it does affect output.

More frequent *major* releases seem appropriate to me, if we keep having good science ideas like the ones in v0.3. I th

[2015-08-20 11:06] danielballan commented on #175
I guess my question is, is (was) it an import-time issue?
On Wed, Aug 19, 2015 at 10:21 PM Thomas A Caswell <notifications@github.com>
wrote:

[2015-08-20 14:11] danielballan commented on #175
OK, I satisfied myself that this issue is solved. I can import both and export data using hdf5 and pandas.HDFStore in the table IPython session. No problems.

[2015-08-20 14:11] #175 closed

[2015-08-21 18:07] apiszcz commented on #235
Frames per second may be handy addition in the future.
linker.py
2015-08-21T14:06:13.658714> Frame 000060: 000173 trajectories, 26.0504 fps

[2015-08-24 13:37] apiszcz commented on #235
Observation: Using an interval for the message update has one disadvantage compared to a threaded timer, in cases where the linker gets really busy there is no update for as long as it takes. So if we rely on the call through iteration to test against we have no progress update.

[2015-08-24 22:37] #191 closed

[2015-08-24 22:37] #246 closed

[2015-08-24 23:10] danielballan commented on #266
Tagged! The release candidate is available on pip:

[code]

and conda, built for Python 2.7 and 3.4:

[code]

Let's not announce widely ("soft matter software" mailing list, Twitter, etc.) until the docs and examples are fixed up a little more.

[2015-08-24 23:10] #266 closed

[2015-08-24 23:11] danielballan commented on #266
P.S. @nkeim I agree. I think the main barrier is deciding how to group changes that break user code and then writing release notes. Tagging the RC, building, and pushing just took me about 45 minutes.

[2015-08-24 23:13] danielballan commented on #253
@pablocobelli We have a release candidate for v0.3.1 with Python 3.4 conda packages. See #266 for installation instructions. Please reopen this issue if you find it does not work for you.

[2015-08-24 23:13] #253 closed

[2015-08-24 23:51] nkeim commented on #266
Thanks. Perhaps we should start requiring that pretty much any PR add a bullet point at the top of the release notes? Not only will it give the release-tagger a head start, but it will help us to decide whether it's time for a new release.

[2015-08-24 23:53] danielballan commented on #266
I like that policy. Pandas generally insists on that. And when it seems a
bit onerous (say, a novice user's first contribution, or a fly-by
contribution from someone who we don't want to pester) whoever merges it
can just add a commit locally and push.

On Mon, Aug 24, 2015 at 7:51 PM Nathan Keim <notifications@github.com>
wrote:

[2015-08-24 23:55] nkeim commented on #266
OK, I'm on board. I'm counting on the other core devs to hold me to it!

[2015-08-25 18:16] nkeim opened #271 "User "census"?"
For most if not all of the core contributors, trackpy can be considered part of our professional output, which means that measuring its impact helps justify our efforts. Especially for assistant professors. A [Google Scholar search](https://scholar.google.com/scholar?hl=en&q=%22trackpy%22&btnG=&as_sdt=1%2C5&as_sdtp=) turns up 11 results, which is pretty good! (The core contributors are authors on

[2015-08-26 02:05] tacaswell commented on #271
:+1: for including a survey in the announcement.  I would also include a python version and install vector questions.

I think all of the fields can be optional.  We should run the form by @doraf before we send it out as she has experience designing this sort of thing?

[2015-08-26 11:40] danielballan commented on #271
Good ideas all around. This reminds me that IPython may soon give a us a
way to collect more detailed usage info (opt-in, of course). But we
shouldn't wait for that.
On Tue, Aug 25, 2015 at 10:05 PM Thomas A Caswell <notifications@github.com>
wrote:

[2015-08-26 19:02] apiszcz opened #272 "linking observation and sensitivity to velocity span"
I observed a false positive trajectory labeling situation and wonder if there is a parameter to mitigate the situation (maintain a single track). I'm using adaptive and velocity linking. With velocity span set  as shown below I get a variety of trajectory labeling results. Is it the case that velocity linking is expecting all particles to be moving a similar speed?

Case#1:
Each point exists withi

[2015-08-26 21:45] tacaswell commented on #272
I would have called this a false-negative as it failed to correctly identify a single trajectory.

The semi-useless, but guaranteed to make things better, answer is to take data faster so your particles move less between frames.  If your particles are moving more between frames (modulo bulk flow) than their average spacing meaningful linking is very difficult to impossible.

Which of the predictiv

[2015-08-27 11:00] caspervdw commented on #271
I completely agree with your ideas. A google doc seems the easiest way to go, I guess we can analyze them by hand.

[2015-08-27 20:04] caspervdw commented on #247
I can look into the walkthrough tomorrow.

[2015-08-27 21:33] apiszcz commented on #272
False-Negative, acknowledge,
Not likely on the sample rate to improve particle motion distance. Do not control that.
NearestVelocityPredict is the predictor.
Thanks for the feedback, I'll look at predict.py in more detail. The instrument feature is great and will review the 'decision' point where this example performs the split. predict functions pack a lot in the 'return'.

[2015-08-28 11:58] caspervdw opened #273 "Warning when using `tp.subpx_bias`"
Something with pandas and plotting, we should fix the warning message when you use `tp.subpx_bias`

`C:\Anaconda3\lib\site-packages\pandas\tools\plotting.py:3227: UserWarning: To output multiple subplots, the figure containing the passed axes is being cleared
  "is being cleared", UserWarning)`

[2015-08-29 01:59] tacaswell commented on #273
Because you shouldn't be using pandas plotting at all :wink:

[2015-08-31 21:30] nkeim commented on #272
I'm confused about the toy example. Is there ever more than one particle per frame? If not, this sounds like a bug (or at least, an opportunity for us to improve our understanding of prediction).

Either way, feel free to post code to reproduce.

[2015-09-01 11:41] ghattab commented on #247
I tested the reproducibility between trackpy v0.2.4 and v0.3.0rc1 on the same dataset.
This line
f0 = tp.locate(frames[0], diameter=11, invert=True, minmass=8000)

[2015-09-01 15:08] tacaswell commented on #247
@ghattab Can you make that it's own issue?

[2015-09-01 17:18] ghattab opened #274 "Differences for minmass option in tp.locate()"
While testing the reproducibility between trackpy v0.2.4 and v0.3.0rc1 on one dataset :
This line under v0.2.4
[code]
did correspond to roughly a ```
minmass=8000
[code]

Frame([[  0,   0,   0, ...,   0,   0,   0],
       [  0, 254, 254, ..., 254, 126,   0],
       [  0, 254, 255, ..., 255, 126,   0],
       ...,
       [  0, 254, 255, ..., 255, 126,   0],
       [  0, 254, 254, ..., 254, 126,   0

[2015-09-01 20:45] apiszcz commented on #272
This data causes velocitypredict to split the track (in some cases) with parameters mentioned earlier in this thread. Frame 25 has two particles with nearby but different values. This is scaled down version but even with many objects per frame the behavior is similar.

x y frame
-0.008289	0.00441	21
-0.008244	0.00441	22
-0.008217	0.00441	23
-0.008181	0.00441	24
-0.008163	0.004401	25
-0.008154	0.00

[2015-09-02 13:43] ghattab commented on #271
Which brings us to the question of how to cite it in a scientific paper..
I guess then one cites the original IDL paper and refers to the trackpy module implementation / GitHub link ?!

Such as for the Bubble tracking in 2D foams [example](https://soft-matter.github.io/trackpy/tutorial/custom-feature-detection.html) for which consistency can then be problematic.

An explicit mention of trackpy is

[2015-09-02 13:47] danielballan commented on #271
In case you haven't already discovered it, see [citing trackpy](http://soft-matter.github.io/trackpy/introduction.html#citing-trackpy) in our documentation.

Citing open software is an unsolved problem. For reproducibility, it's best to cite the individual versions, and this is what we are currently asking people to do. For author credit, it would be nice if these citations could somehow be cumula

[2015-09-02 13:53] ghattab commented on #271
Indeed, just desired to mention it. It's always better to have more than not enough citations.

[2015-09-03 07:07] caspervdw commented on #247
That is strange. The minmass has certainly changed in v0.3, but it should be lower in magnitude in v0.3.
Can you provide a single frame from your dataset?

I am working on a `minmass_version_change` convenience function, I will push this as soon as I tested it.

[2015-09-03 07:09] caspervdw commented on #274
That is strange. The minmass has certainly changed in v0.3, but it should be lower in magnitude in v0.3. Can you provide a single frame from your dataset?

I am working on a minmass_version_change convenience function, I will push this as soon as I tested it.

[2015-09-03 12:24] ghattab commented on #274
![example_frame.tif](https://cloud.githubusercontent.com/assets/13886161/9658110/0c856ace-5247-11e5-8422-fb9e3208e137.png)

It is indeed strange comparably to what has been mentioned for scaling the minmass. Sending you the original tif file by mail.

[2015-09-05 16:33] caspervdw commented on #274
Thanks, I will have a look! It could have to do with the image inversion.

[2015-09-05 16:44] caspervdw commented on #257
In view of upcoming api changes in locate, what about adding deprecation warnings for 'invert', 'engine' and 'characterize' to v0.3 already?

For the invert we could redirect users to an equivalent pims pipeline. (Which raises the issue on adding example pipelines to pims)

[2015-09-06 09:46] caspervdw commented on #274
I tried to reproduce your results with the image you sent me.

In 0.2.4, I got 40 features with masses ranging from 3500-13000
In 0.3.0rc1, I got 41 features with masses ranging from 3000-11500

So I could not reproduce your issue. There is a convenience function for converting old to new mass in this branch: https://github.com/caspervdw/trackpy/blob/minmass-change/trackpy/feature.py, line 36. Cou

[2015-09-06 16:41] nkeim commented on #257
I think this might belong in v0.3.2 (assuming 0.3.1 is a bugfix). I'm still not convinced we know the best "fix" for these parts of the API that are mostly just inelegant. I'm hesitant to start warning users that they're "doing it wrong" before we can confidently tell them how to do it right.

Better to introduce the new API in 0.3.2 or 0.4 alongside the old one, then remove the old one in the fol

[2015-09-07 19:47] apiszcz opened #276 "__version__ on Windows returning 0+unknown"
If I perform the following steps in Linux the version is correctly reported as 0.3rc1.
git clone https://github.com/soft-matter/trackpy
pip install -e trackpy

When I copy the trackpy folder to a windows system an import trackpy I get 0+unknown.

Reviewing _version.py it seems a .git folder is required to locate the version in git_versions_from_keywords.

[2015-09-07 19:59] tacaswell commented on #276
What do you mean by 'copy the trackpy folder to a windows system'?

[2015-09-07 20:04] apiszcz commented on #276
I copied the trackpy folder (installed on linux) to a windows 7 system. I
perform import trackpy and 0.3rc1 works for my application, except
trackpy.__version__ returns 0+uknown.

On Mon, Sep 7, 2015 at 3:59 PM, Thomas A Caswell <notifications@github.com>
wrote:

[2015-09-07 20:11] tacaswell commented on #276
Don't do that, or at least make sure you copy the hidden folders as well.  It might work better if you don't use `-e` which installs and editable version (so soft links).

The simplest solution is to just clone it on the windows side as well.

[2015-09-07 20:24] apiszcz commented on #276
Thanks.
If I copy the entire folder over I end up with 116MB and 163 files instead of ~238KB and 19 files, however it reports the version correctly 0.3.0rc1. It seems like a lot of extra space (~500x) and files to obtain the version which is not an execution path of the primary codes purpose.

[2015-09-07 20:46] tacaswell commented on #276
That size in primarily in the test images, and the history there of.

Closing as this isn't a trackpy bug.

[2015-09-07 20:46] #276 closed

[2015-09-08 13:07] ghattab commented on #274
Thanks for verifying it. I confirm, the convenience function works perfectly. And i could not reproduce it either if i just take one frame.
What i meant earlier by the minmass corresponded roughly to a 8000 is assuming that all the other used functions (trackpy.batch, trackpy.link_df and trackpy.filter_stubs) are left untouched between the two versions. So maybe me varying the minimass amounts to

[2015-09-09 18:09] #247 closed

[2015-09-09 18:09] #273 closed

[2015-09-09 18:13] danielballan commented on #182
I'm removing this from the v0.3.0 milestone with @tacaswell's blessing. There is no reason we can't do this after we tag v0.3.0.

[2015-09-09 18:13] danielballan commented on #200
@caspervdw Can you check off the issues that you fixed in your recent PR?

[2015-09-10 07:05] caspervdw commented on #274
Good that your issue is solved! Closing

[2015-09-10 07:05] #274 closed

[2015-09-10 12:58] caspervdw opened #280 "Linking performance issue"
With a colleague I had the following issue:

    z = f[(f.x > 860) & (f.x < 960) & (f.y > 609) & (f.y < 690) & (f.frame < 100)].copy()
    %timeit tp.link_df(z, search_range=10, memory=1)
    Frame 99: 3 trajectories present
    1 loops, best of 3: 537 ms per loop

    z = f[(f.x > 860) & (f.x < 960) & (f.y > 609) & (f.y < 690) & (f.frame < 100)]
    %timeit tp.link_df(z, search_range=10, memory=1

[2015-09-10 15:50] nkeim commented on #280
Fascinating!! Will try to reproduce so I can profile it. Maybe we're just using pandas wrong.

On Sep 10, 2015, at 5:58 AM, Casper van der Wel <notifications@github.com<mailto:notifications@github.com>> wrote:

With a colleague I had the following issue:

z = f[(f.x > 860) & (f.x < 960) & (f.y > 609) & (f.y < 690) & (f.frame < 100)].copy()
%timeit tp.link_df(z, search_range=10, memory=1)
Frame 99:

[2015-09-10 20:23] caspervdw commented on #280
We might need to do something with `f.is_copy`, if that returns `None`, the dataframe is a copy and not a view.

[2015-09-10 21:14] nkeim commented on #280
I took the walkthrough notebook, restricted feature-finding to the first 100 frames, and then ran

`%prun t = tp.link_df(f[f.frame > 0], 5, memory=3)`

and

`%prun t = tp.link_df(f[f.frame > 0].copy(), 5, memory=3)`

There was a large timing difference, though not as dramatic as what you report. It appears to be entirely due to `gc.collect` going crazy when the input is a view:

[code]

Our linkin

[2015-09-11 09:56] caspervdw commented on #200
@danielballan  done

[2015-09-11 10:01] caspervdw commented on #280
I made the PR, closing

[2015-09-11 10:01] #280 closed

[2015-09-12 18:51] apiszcz opened #282 "FYI: Pandas 0.17rc1 warnings with trackpy 0.30rc1"
C:\p\lib\trackpy\trackpy\linking.py:748: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  features.sort('particle', inplace=True)

[2015-09-15 20:38] pfigliozzi opened #283 "Increase Penalty for Creating New Tracks"
I was wondering if there is any option to increase the penalty for creating new tracks when linking particles together. I am trying to link particles together that rotate around in a ring however, sometimes the leading particle will be flagged as a 'new track' while the trailing particles take the identity of the particles in front of it. The frames where this issue arises each have the same numbe

[2015-09-15 20:53] tacaswell commented on #283
The penalty for making a new track is tightly linked to the maximum search range, just pushing that up (and maybe using the adaptive logic?) would help.

Is the ring fixed in the image?  It might be worth doing some pre-processing to covert your `(x, y, t) -> (\theta, t)`.  If there are multiple rings of particles moving around it might be worth doing a clustering step to find the rings, track _th

[2015-09-15 20:56] nkeim commented on #283
Very interesting idea! Gaining particles is not penalized at all, but losing a particle is. The size of this penalty is `search_range`. You can read the Crocker & Grier paper cited in the documentation for details, but my understanding is that the penalty is as large as it needs to be; increasing it will not change the behavior of the algorithm. More concretely, the algorithm evaluates a set of po

[2015-09-15 21:10] pfigliozzi commented on #283
Thanks for the tips! I will try some of those things out!

[2015-09-15 21:28] tacaswell commented on #283
Another interesting thing would be to run the tracking on your frames _backwards_.  @nkeim is pointing out an asymmetry I was completely glossing over.

I think making the penalty for losing a particle bigger without increasing the search range would break things as there could be a particle in your data set, but outside of the neighborhood considered which would lead to a better link configuratio

[2015-09-16 01:31] tacaswell commented on #283
ps can we see and image? :8ball:

[2015-09-16 04:39] nkeim opened #284 "BLD: Use older tifffile in legacy environment"
I don't have time to fix this tonight, but the build broke because the [new tifffile](https://pypi.python.org/pypi/tifffile) is incompatible with numpy 1.7. It does not appear to have anything to do with #281 . Should be easy enough to fix.

[2015-09-16 13:38] pfigliozzi commented on #283
I wrote a function to help me visualize the tracked trajectories. The colors represent a unique track, red circles are particle locations, the green circle is a particle location that is new/of interest. This is an example of they type of issues I am trying to solve. For this data search_range = 100, memory = 1. The size of the pixels in the image is the same as the raw data.

[View Gallery Here](

[2015-09-16 14:57] nkeim commented on #283
Thanks. If you have only 5–10 particles, you can make `search_range` arbitrarily large and still get good performance. Especially if your Python distribution includes numba.

[2015-09-16 16:06] nkeim commented on #284
Fixed by #285.

[2015-09-16 16:06] #284 closed

[2015-09-18 17:47] caspervdw opened #286 "TEST Multiprocessing"
Related to the issue in pims https://github.com/soft-matter/pims/issues/178, we should make a test for multiprocessing.

[2015-09-19 01:47] nkeim commented on #282
Thanks for reporting this! `sort_values` is not even in Pandas 0.16.2, so we cannot truly "fix" this without dropping compatibility with the current stable release.

If it turns out that Pandas can be instructed to suppress these warnings (except during testing), would that be wise?

[2015-09-19 01:49] nkeim commented on #282
If you want to see the changes required to get zero `FutureWarning`s from [Pandas 0.17.0rc1](http://pandas.pydata.org/#release-candidate-september-11-2015), see https://github.com/nkeim/trackpy/tree/pandas-0.17-future

[2015-09-19 12:42] apiszcz commented on #282
Thanks, Pandas 0.17rc1 deprecates a few areas, and I've add similar if
statements for initial testing. I can probably start testing this branch at
some point.

https://github.com/soft-matter/trackpy/compare/master...nkeim:pandas-0.17-future
​

On Fri, Sep 18, 2015 at 9:49 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-09-20 16:37] apiszcz commented on #276
The .git/objects/pack/pack-* files are 98MB and required for the trackpy.__version__ to be reported correctly. If the either of these files are removed the unknown result is returned for the version.

![capture](https://cloud.githubusercontent.com/assets/1430861/9981756/fec088c4-5f93-11e5-9feb-572a82f74de3.JPG)

[2015-09-20 16:46] apiszcz commented on #282
I copied over your changes for the 5 file, initial test is good with pandas 0.17rc1. Is there a way I can monitor your pandas 0.17 branch for future updates?

[2015-09-20 17:36] nkeim commented on #276
Noted. The only solution I see, and a pretty radical one, is to erase those files from history.

[2015-09-20 17:51] nkeim commented on #282
There may be a way to do that on Github. I myself don't plan on updating that branch at all until we're comfortable dropping Pandas 0.16, which I would guess is roughly a year from now.

[2015-09-20 23:03] danielballan commented on #194
I want to make sure our little community is aware of the coming changes to the relationship between pandas, PyTables, and h5py. This will make thing somewhat easier for users who like pandas but also like h5py.

Read: https://hdfgroup.org/wp/2015/09/python-hdf5-a-vision/

[2015-09-21 03:23] apiszcz commented on #282
Thanks, this page has a list of 0.17 api conversion issues:
http://pandas-docs.github.io/pandas-docs-travis/whatsnew.html#backwards-incompatible-api-changes
​

On Sun, Sep 20, 2015 at 1:51 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-09-21 15:12] tacaswell commented on #276
We went through this discussion before and decided to accept that we have some large binaries in our past but the cost of re-writing history to remove them is too high to justify doing it.

I am not surprised that removing any of them breaks git as those files are git's internal data storage.  I suspect that _all_ of the history data is actually contained in that file.

[2015-09-21 17:10] apiszcz commented on #276
Concur, this time I verified it file by file. For some situations carrying
around 100MB (uncompressed) may not be worth the version number. I am
'guessing' nothing else will be affected by dropping the .git folder. It is
the first package I have used that requires .git files.
​

On Mon, Sep 21, 2015 at 11:12 AM, Thomas A Caswell <notifications@github.com

[2015-09-21 17:12] tacaswell commented on #276
It only requires them you do a source install, if you do a normal install (`pip install .`) it will extract the version information once and then you will not need the VC information.

[2015-10-03 08:50] sciunto opened #288 "test failure archlinux - python 3.5"
with 0.2.4
[code]

with rc1

[code]

[2015-10-03 16:08] danielballan opened #289 "Python 3.5 and numba"
We might as well do whatever we need to do to make v0.3.0 compatible with Python 3.5, but I was surprised to find that numba is not ready for 3.5 yet:

[code]

[2015-10-04 16:09] #288 closed

[2015-10-04 16:11] danielballan commented on #289
Let's leave this open a reminder to check on numba in a month or two.

[2015-10-04 17:00] sciunto commented on #288
Thanks @danielballan As soon as another rc release is pushed, I'll make a new package for arch.

[2015-10-04 17:09] nkeim opened #291 "DOC: Update installation instructions"
I don't know if we're ready to do this quite yet, but pyfftw needs to be removed from "Optional Dependencies" in the installation instructions.

Also, some of the bulleted lists in that file are indented, which makes them render as quotations in RST. There should be no leading whitespace.

[2015-10-09 15:27] caspervdw opened #292 "Linking ignores empty frames"
I just came across a peculiar issue: if I have a single blinking particle and link this with `memory=0`, this still results in a complete track. I would expect the tracks to be separated at frames where the particle is not found.

Because `link_df` iterates over all unique framenumbers, it ignores empty frames. I think this is not the desired behaviour, but correct me if I'm wrong.

[2015-10-09 15:31] danielballan commented on #292
Agreed. That is not the correct behavior.

On Fri, Oct 9, 2015 at 11:27 AM Casper van der Wel <notifications@github.com>
wrote:

[2015-10-09 15:31] tacaswell commented on #292
That does not sound like the desired behavior at all.

[2015-10-09 16:01] nkeim commented on #292
trackpy has always been fairly agnostic about frame numbering. I'm pretty sure that except for the storage classes, frame numbers are never required to be integers, or evenly spaced. I know specifically that the prediction framework is written to accommodate arbitrary sequential real numbers, and that these are used in the unit tests. This is because prediction requires not just the order of frame

[2015-10-09 16:08] tacaswell commented on #292
Maybe we should crib the ndimage labeled image api and add an optional `expected_frames` kwarg to `link_df_iter` which lists the expected frame numbering.  If it is `None`, it just runs through them as-is, and if it is given will only link on those frames, both inserting missing frames and skip existing frames as needed.

[2015-10-10 12:00] caspervdw commented on #292
We should require `memory` to have the same units as the `frame` column, which narrows down its dtypes to integer and floats. Also most of the functions in `tp.motion` expect numbers (integers). For a momentary vibration or camera glitch, time does go on and linking trajectories through such a glitch (with `memory=0`) should still result in broken tracks, in my opinion. That's what the memory func

[2015-10-10 14:41] nkeim commented on #292
@caspervdw, that's a very good point about `memory`. That might be a simple way to address the "glitch" scenario that will work for most users of `link_df()`. I'm starting to see that it makes sense for `link_df()` to be strict about successive integer (or rounded float) frame numbers. Maybe it could issue a warning the first time it encounters an empty frame?

(The reason I say "rounded float" is

[2015-10-10 15:40] danielballan commented on #292
I agree with @nkeim on this -- I'm against `expected_frames` and for strict interpretation of `frame` as a successive integer.

[2015-10-10 15:41] caspervdw commented on #292
So what should the default behaviour of `link_df` be? I would say, interpret 2t gaps as 2t gaps, so insert empty frames in the `levels` generator. If the user wants to intepret 2t gaps as t gaps, then he should renumber the frames or use `memory`.

The `expected_frames` could also be replaced by `ignore_gaps`.

`link_iter` doesnt support empty frames so there is some work there too.

[2015-10-10 15:47] danielballan commented on #292
Yes, I would call that the "correct" behavior.

Users can ignore gaps by renumbering their `frames` column. I think adding a kwarg here is doing too much in one step -- the same kind of thing that I did with the overloaded `locate` API that I now regret.

[2015-10-10 18:08] tacaswell commented on #292
Agree that all of these are better suggestions than `expected_frames`.

The frame numbers should be integers as they are indexes into a sequence of
discrete ordered measurements. I think folding the time delta information
into the frame index is trying to do too many things at once.

On Sat, Oct 10, 2015, 11:47 Dan Allan <notifications@github.com> wrote:

[2015-10-12 15:03] mdgratale opened #294 "Link_df runs very slow with large data sets"
I'm attempting to link particle positions to form trajectories using link_df for a data set containing ~1,700 particles for 90,000 frames.  In attempting this, I noticed link_df was running very slow.  After 12 hours, the code had completed under 8,000 frames (I estimate that the entire data set would have taken maybe 4 days).  While I understand that that is a huge data set, I previously was able

[2015-10-12 15:16] tacaswell commented on #294
See http://soft-matter.github.io/trackpy/generated/trackpy.link_df_iter.html#trackpy.link_df_iter and http://soft-matter.github.io/trackpy/tutorial.html#processing-large-data-sets  for an out-of-core linking.

You shouldn't really be seeing issues with memory unless you are forcing paging to disk.

My knee-jerk guess is that the images are denser in one case than the other.

My second slightly mor

[2015-10-12 15:36] caspervdw commented on #294
It could also be related to #280. Performance is greatly reduced if you pass a view to a DataFrame, instead of a DataFrame. Checking the difference can be tricky.

Does the problem persist if you explicitly copy the dataframe before linking? Something like

    f = f.copy()

[2015-10-12 15:51] mdgratale commented on #294
Thanks for the fast replies!  I have not tried making a copy.  I was also going to look into using link_df_iter.  I will try those to start and report back.  Thanks again!

[2015-10-13 18:18] mdgratale commented on #294
Copying the dataframe before linking did not help.  Next up on my list is link_df_iter.

[2015-10-13 19:50] nkeim commented on #294
That's too bad. See also #256, which is fixed in the development version.

[2015-10-14 07:01] anntzer opened #295 "Test failure with Pandas 0.17"
[code]

[2015-10-14 14:21] mdgratale commented on #294
A quick update.  Overnight I ran link_df with a 1,000 frame data set and a 10,000 frame data set using %timeit.  The 1k data set took just under 3 minutes (168 seconds to be exact), while the 10k data set took over 2 hours (8557 seconds to be exact).  So as the number of frames increase, the time it takes to do the linking from frame to frame noticeably increases.  Both the 1k and 10k sets came fr

[2015-10-14 14:55] tacaswell commented on #294
Can you do the same thing with `%prun` ?

[2015-10-14 18:26] mdgratale commented on #294
Ran with %prun.

[2015-10-14 18:34] mdgratale commented on #294
OK so I've been trying to attach the results from the %prun for both the 10k and 1k frame cases, but Github is not enjoying this.  So I have to copy and paste in a very ugly way the first few lines, which show there is definitely a difference when the number of frames increases.  There are changes across the board but 'get_indexer' and a pandas process are the processes that change the most.
For 1

[2015-10-14 18:36] mdgratale commented on #294
Wow, sorry did not preview that before posting, that is AWFUL!  Will try to get everything in a better format.

[2015-10-14 18:50] tacaswell commented on #294
@mdgratale Abused my gh privileges and edited your comments.  The trick is triple back ticks ('`')

[2015-10-14 18:53] tacaswell commented on #294
Also interesting that in the 1k case `gc.collect` is the most expensive operation !?!

[2015-10-14 19:08] nkeim commented on #294
Fascinating! I will ponder this.

The `gc.collect()` thing reminds me of #280, although @mdgratale seems to have ruled it out. But it does seem to fit with the story of pandas running amok. (Bad day at the zoo?)

@mdgratale , when you get the chance, you may want to use [Gist](https://gist.github.com) to share the full tracebacks.

[2015-10-14 19:25] mdgratale commented on #294
Ah there we go.  Thank you!  How obvious it it that I am a Python and Github beginner?  Don't know if this matters much but the data was "pretracked" (i.e. features/particles found in each frame) in a different environment, loaded into python as a numpy array, and then turned into a DataFrame before being input into link_df.

Good point @nkeim.  Sorry, I forgot, while running this for the subset o

[2015-10-14 20:44] tacaswell commented on #294
Nope, a major design feature of trackpy is that the locating and the tracking are completely decoupled.

[2015-10-14 21:03] caspervdw commented on #294
You might try to update pandas and tackpy to rule out recent bugfixes?

[2015-10-14 21:10] tacaswell commented on #294
Compare

[code]

and

[code]

The time to link frame-to-frame is about constant and the total time scale linearly with the number of frames (both of which are as expected).  The time to shove stuff into the dataframe per-frame also scales about linearly with the size of the data frame (as expected) and the number of times you do that also scales linearly with the number of frames (as expected) giv

[2015-10-14 21:31] nkeim commented on #294
Nicely put.

`link_df()` does not assume that the data are in chronological order. It is a side effect of using Pandas that the most general way to do it is also the easiest to code, and that for most users it happens fast enough that they never notice.

I'm now seriously thinking that `link_df_iter()` is going to fix this for @mdgratale . `groupby` is super efficient and runs only once. If you us

[2015-10-14 21:38] mdgratale commented on #294
OK so first off:  Thank you all for your help with this.  It is greatly appreciated.  I will be sure to try `link_df_iter()` next.  Also, here is the 10k frame data `%prun` gist: https://gist.github.com/mdgratale/de5551a739f764fee659

Again, thank you thank you thank you.

[2015-10-15 17:28] caspervdw commented on #294
Agree on the analysis and updating would probably not change much.

@nkeim Another way for the bug fix of `link_df` could be collecting the particle labels and indices in a pre-initialized numpy array and converting to a Series object afterwards.

[2015-10-15 22:04] nkeim opened #296 "ENH/API: Assign integer particle IDs."
trackpy currently assigns particle IDs during linking as floats. As per @caspervdw in #293, it would be better to use integers for semantic reasons (and to accommodate 10^19 unique particles?). This would involve changing ~1 line of code in `link_df` and `link_df_iter`.

I think of this as an API change; there is conceivably code out there that this would break. So I'm creating this with a target

[2015-10-16 17:43] danielballan commented on #296
:+1:

[2015-10-18 22:28] nkeim opened #297 "ENH: Add least-squares feature identification"
This is more of a long-term goal. It is possible to refine feature locations not by weighted averaging, but by least-squares fitting with a model of how all _n_ particles should appear. This was developed by Mark Shattuck's group for close granular packings; there is a tutorial (and Matlab code) [here](http://gibbs.engr.ccny.cuny.edu/technical/Tracking/ChiTrack.php). And you can also check out a [

[2015-10-20 12:38] caspervdw commented on #297
This would be a great addition! I already have a python code that uses `scipy.optimize.curve_fit` to fit a sum of N gaussians, using masking just as trackpy does. This works nicely for clusters of gaussian-like features (tested for N < 10).

A similar method called SFF: [article](http://www.sciencedirect.com/science/article/pii/S0001868607001200)

[2015-10-23 14:33] mdgratale commented on #294
Update:  `link_df_iter` works fantastically!  It linked all 90k frames in about 4 hours.  One thng to note though, `link_df_iter` was able to do 10k frames in ~15 minutes, where as `link_df ` does 10k frames in a little over 2 hours.  It appears for most data sets of significant number of frames and/or particles `link_df_iter` works lightning fast compared to `link_df`.  My problem has been solved

[2015-10-23 15:34] nkeim commented on #294
Hooray!! Yes, I'd like to keep this issue open. Performance that unexpectedly scales as *N*^2, without at least a warning for users, is a bug. Thank you, @mdgratale , for the detective work and for hearing out our ideas!

**Question for everyone:** does anyone value in-place linking? (i.e., when `link_df()` adds a `particle` column to an existing DataFrame, instead of making a new DataFrame that i

[2015-10-26 22:02] caspervdw commented on #294
Making a copy by default is ok for me, but I don't see how making a copy would solve this issue. The problem is the repeated calls to `df.update`,  right? Please correct me if I'm wrong

[2015-10-26 23:35] nkeim commented on #294
Yes, the problem is not in-place linking per se, but the way `link_df()` was written to enable in-place linking. You are right that we could use a method other than `df.update`, perhaps by going through `iloc` instead.

But here's the motivation for my crazy idea: `link_df()` has repeatedly brought out the worst in Pandas, and repairing it is only going to make it longer and hairier. But compare t

[2015-10-27 12:09] caspervdw commented on #292
PR #293  replaces this. Closing.

[2015-10-27 12:09] #292 closed

[2015-10-27 12:19] caspervdw commented on #294
Wow that one is certainly much neater. I am :+1: for dropping inplace functionality and getting this much cleaner code.

Another approach would be to have `_link_df_iter` yield *labels* (as a plain iterable), which `link_df` collects into a pre-initialized `ndarray` object. Adding this (inplace or not) to the dataframe should be easy as `df['particle'] = labels`, and this is very efficient.

[2015-10-29 14:26] danielballan commented on #294
Yeah, this was the scenario I found myself in in grad school, before our HDF5/streaming stuff was ready to use. I agree we can drop in-place now.

[2015-10-29 23:29] #291 closed

[2015-10-30 00:33] nkeim opened #301 "RLS: Time to release v0.3?"
It's been two months since v0.3rc1. The only open issues tagged for v0.3 are #200 and #286, both of which can be easily moved to v0.3.1. Are we ready to go?

If so, we have to

- [x] Polish the release notes
- [x] Write a mailing list announcement and post it here (including a part for #271)
- [x] Set up versioned sphinx docs on Github pages (#182)
- [x] Follow the rest of the [checklist](https://

[2015-10-30 02:02] danielballan commented on #301
Sounds good to me. I don't have a clear plan for versioned docs yet, but
maybe we can postpone that for 0.3.1 as well. The current docs are aimed at
0.3.0.
On Thu, Oct 29, 2015 at 8:33 PM Nathan Keim <notifications@github.com>
wrote:

[2015-10-30 19:47] apiszcz opened #302 "FFTW ?"
In the past enabling the diagnostic displayed numba and fftw information.
I'm testing with Python 3.5, see numba, but not fftw. I am probably missing a library, scikit-image, pyfftw is available.

Yes, but could it be faster?
FAST: numba is available and enabled (fast subnets and feature-finding).

[2015-10-30 20:27] apiszcz opened #303 "Documentation/link issue"
Referenced from: http://soft-matter.github.io/trackpy/tutorial/walkthrough.html#optional-high-performance-components-numba-and-fftw

LINK missing
https://trackpy.readthedocs.org/en/latest/reference/trackpy.feature.html

[2015-10-30 20:57] nkeim commented on #302
FFTW is no longer relevant to most users. See the release notes and #219.

[2015-10-30 20:57] #302 closed

[2015-10-30 21:56] nkeim commented on #303
Thanks. See also @RobWardNZ 's comment in #298. Flagging this as a v0.3 issue.

[2015-11-01 12:06] apiszcz opened #304 "Parallel batch"
The only reference I could find for parallel batch mode is the following (title only, no document). Is there a reason why multiprocessor or job is not a part of this capability?

View all pull requests
Parallelizable Locate
 Success: The Travis CI build passed

[2015-11-01 12:51] apiszcz opened #305 "trackpy.batch 19 parameters in method signature, 11 documented on web page"
A few parameters of batch appear to be missing on the web page. The 8 missing parameter descriptions appear in the feature.py source in batch::"Other Parameters", should these be included on the html page?

http://soft-matter.github.io/trackpy/generated/trackpy.batch.html#trackpy.batch

[2015-11-02 15:40] caspervdw commented on #301
Agreed, let's put it out. Only thing that I would like to add:

- [ ] Release PIMS 0.3.2

[2015-11-02 21:46] nkeim commented on #301
Here's a draft of the announcment. Release notes revisions pending.

*Subject:* ANNOUNCE: trackpy and pims releases

We're pleased to announce a major release of trackpy (v0.3), and a minor release of the movie-reading package pims (v0.3.2). The trackpy release is strongly recommended for all users, as it brings major improvements in speed and 3D feature-finding, and many other functionality and a

[2015-11-02 21:52] danielballan commented on #301
Looks good. Maybe link, with thanks, to the full list of contributors,
which github maintains for us:
https://github.com/soft-matter/trackpy/graphs/contributors

On Mon, Nov 2, 2015 at 4:46 PM Nathan Keim <notifications@github.com> wrote:

[2015-11-02 22:05] caspervdw commented on #301
Looks good, may want to mention the Bioformats addition for pims, many microscopy users will want to use that.

[2015-11-04 02:35] tacaswell commented on #305
It looks like something is going sideways with the numpydoc parsing or the sphinx template.

[2015-11-04 15:12] danielballan commented on #286
I tested this in the course of revising the walkthrough at https://github.com/soft-matter/trackpy-examples/pull/29. We should still add an automated test, but I don't think that's essential for v0.3.0. Moving to v0.3.1.

[2015-11-04 19:20] nkeim commented on #304
What kind of API would this entail? Do-it-yourself parallelization is already pretty easy, as shown at [the end of the walkthrough notebook](https://render.githubusercontent.com/view/ipynb?commit=d7f84f90e039cb9027e23a100bc1f2d9d793a44a&enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f736f66742d6d61747465722f747261636b70792d6578616d706c65732f64376638346639306530333963623

[2015-11-04 19:26] apiszcz commented on #304
The easiest might be multiprocessing, then allow user to set ncpus if they
choose? This seems like a 'relatively' painless way to achieve some
speedup. Should be cross platform, chunksize default would the
images/ncpus. On 286, I'll standby and use / test when ready.

​

On Wed, Nov 4, 2015 at 2:20 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-11-04 19:39] danielballan commented on #304
I would rather see us adopt more modern tooling. I have limited experience with IPython.parallel -- no sophisticated use cases under my belt -- but my general understanding is that it is essentially multiprocessing with a better API.

[2015-11-04 20:15] apiszcz commented on #304
As long as whatever is chosen can work without a lot of 'extra'
installation/setup.
We need really basic dispatch/map , merge , should be doable a few ways,
multiprocessor is always there. Ideally it would support SMP on same host
and possibly a network of hosts. I am concerned about having a lot of extra
requirements for capability.
https://wiki.python.org/moin/ParallelProcessing
​

On Wed, Nov 4

[2015-11-04 20:18] apiszcz commented on #304
So the reason I'm interested in this may be my lack of understanding of
squeezing the most out of the parameter combinations for location/batch
(still learning) I have a black background and 2 to 3 white objects, batch
appears to process a few images ~900x500pixels/second. Is this reasonable?
I thought it would take less time with fewer objects to detect.​

df = tp.batch(frames[0:500],

[2015-11-04 20:28] apiszcz opened #307 "FYI: PANDAS and 'autoload', and identified problem with numexpr 2.4.4 on Windows"
I had a recent issue that took some time to track down. In case this group should experience it. The issue is KNOWN to be numexpr 2.4.4 and on Windows only when using many cores, >16, the problem is that math errors occur due to a race condition. Initially I thought it was PANDAS 0.17 since I was NOT loading numexpr for use. It actually took a while and many error sessions to isolate because the r

[2015-11-04 20:36] nkeim commented on #304
@apiszcz That does not seem unusually slow.

The nice thing about multiprocessing is that it "just works" on modern systems. So we really could add an `ncpu` option to `batch()`. That's very appealing! It just makes it faster.

IPython gives you higher performance and a ton of other features (including network support) for free. In that case, the optional parameter would be an IPython load-balance

[2015-11-04 20:38] nkeim commented on #304
@apiscz To give a more detailed response: you should run a profiler.

Now that I think about it, when you have that few features the default value of `percentile` is probably inappropriate.

[2015-11-04 20:40] tacaswell commented on #304
Another path to take here is to get a hold of a mkl complied version of numpy/scipy which (I think) will automatically parallelize the numpy/scipy operations under the hood.

We should probably also look into using dask, either at the low level image processing operations or the high-level frame-level.

The bottle neck in this operation changes depending both the image size and the number of featu

[2015-11-04 20:53] apiszcz commented on #304
1. DASK I have peeked at it, good for certain approaches with castra.
2. Low/LEVEL then it might include CUDA, dependencies.
3. I will double check on my 0 value, images are gray scale.[image: Inline
image 1]

​

On Wed, Nov 4, 2015 at 3:40 PM, Thomas A Caswell <notifications@github.com>
wrote:

[2015-11-04 21:31] apiszcz commented on #304
ipython setup on windows is a bit more work, than multiprocessing.​

On Wed, Nov 4, 2015 at 3:36 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-11-04 21:34] nkeim commented on #307
Yikes! Thanks for the public service!

[2015-11-04 21:34] #307 closed

[2015-11-04 21:50] danielballan commented on #304
Yes, very excited about dask. We may work on integrating pims with it
better. Not sure yet what shape that would take.

On Wed, Nov 4, 2015 at 3:53 PM apiszcz <notifications@github.com> wrote:

[2015-11-05 03:10] apiszcz commented on #304
I hope to spend more time with PIMS including to get it to read mp4 files
vs a pile of PNGs (expect it can use ffmpeg?) etc. Very nice API! Tx.​

On Wed, Nov 4, 2015 at 4:50 PM, Dan Allan <notifications@github.com> wrote:

[2015-11-05 13:17] danielballan commented on #304
Yep, it FFmpeg.

[2015-11-05 22:16] caspervdw commented on #301
Shall we fix the pims dependency to >=0.3.2? I am not sure what will break if people use pims 0.2, and it is untested.

[2015-11-05 22:27] danielballan commented on #301
I think so. In order to not interfere with modern numpy/numba, I will upload the first round of pims v0.3.2 conda packages without tifffile and PyAV built in. I'll add them back once they are built, advancing the conda build number but not the version number.

[2015-11-05 22:31] danielballan opened #309 "PyPI upload issue"
Something went wrong with the PyPI upload. It looks like a server-side issue (HTTP 500). The [PyPI for PIMS](https://pypi.python.org/pypi/pims) looks up to date, but this doesn't look good:

[code]

Here the terminal output from my upload attempt:

[code]

[2015-11-05 22:34] danielballan commented on #309
Fortunately, although pip reports the "LATEST" version incorrectly, it *installs* the correct version. I did the following in a fresh conda env with only python 3.5 and numpy 1.10 installed.

[code]

[2015-11-05 23:35] danielballan commented on #309
I posted this in the wrong repo -- moving to pims: https://github.com/soft-matter/pims/issues/196

[2015-11-05 23:35] #309 closed

[2015-11-06 05:13] Resonanz commented on #304
If I understand correctly, there are two ways we could improve batch processing.  The first is to use multiple CPU cores, which most recent PCs would have.  The second is to use CUDA:

https://developer.nvidia.com/how-to-cuda-python

I wonder, has anyone re-written the Crocker-Grier algorithm for CUDA, and if so could that be called directly from trackpy?  See the start of this paper:

http://iops

[2015-11-06 22:44] nkeim commented on #304
BeadTracker sounds very fast! But it uses CUDA only for the convolution operations in the bandpass step.

If CUDA implementations are widely available and are callable from Python by mortals, it would be an excellent first step, as these operations account for roughly half of the feature-finding time. If no good implementations exist, numbapro provides a reasonable method that is free for academic

[2015-11-06 22:51] danielballan commented on #304
I read that at least some of numbapro, including GPU code, has been
open-sourced as of a couple days ago.
On Fri, Nov 6, 2015 at 5:44 PM Nathan Keim <notifications@github.com> wrote:

[2015-11-07 14:14] apiszcz commented on #304
I need to have it working with Windows, It'll be a few weeks before I need
to use mp4 vs. the current .png approach.​

On Thu, Nov 5, 2015 at 8:17 AM, Dan Allan <notifications@github.com> wrote:

[2015-11-07 14:16] danielballan commented on #304
There are some people who have it working on Windows. Check out the PyAV
github issues. As soon as I can replicate their success, I will make conda
packages and it will be easy as pie.
On Sat, Nov 7, 2015 at 9:14 AM apiszcz <notifications@github.com> wrote:

[2015-11-07 14:24] apiszcz commented on #304
Thank you for the feedback.
1) I am using the MKL compiled version of numpy/scipy (for windows) from
http://www.lfd.uci.edu/~gohlke/pythonlibs/
2) DASK, reading some of the other parallel thinking posts I see the
coupling between tracking and detecting. I was hoping those could be
separate stages/phases when needed.​
3) There are only a few features, I'm attempting to blur them into a
circular sha

[2015-11-07 14:24] apiszcz commented on #304
I have it ready (PyAV) and other libraries, you will hear about it either
way :). Thanks.​

On Sat, Nov 7, 2015 at 9:16 AM, Dan Allan <notifications@github.com> wrote:

[2015-11-07 14:35] apiszcz commented on #304
The percentile default in the version of trackpy I have is 64, setting it
to 95 did not improve performance over the default.​ Currently processing
500 frames in 139 seconds, ~95% of the frames have one object, 4% have 2 or
3 objects, and the remaining 1% have no objects.

On Wed, Nov 4, 2015 at 3:38 PM, Nathan Keim <notifications@github.com>
wrote:

[2015-11-08 20:44] Resonanz opened #311 "Question about sub pixel results"
Hi guys, I have used the sub pixel code as per the walkthrough and have indeed found that there is a dip at the center of the histogram if the diameter setting is too small.  That all good, but what I have found for all my experiments so far is a peak at the center.  Have you seen this?  Any idea of the reason for it?  FWIW I have been using 500 nm particles and a diameter setting of 13.

<img wid

[2015-11-09 02:24] Resonanz opened #312 "Non fatal issues"
I have come across these when using my slightly modified walkthrough code when running from the command line (rather than thru iPython notebook):

`/Users/resonanz/anaconda/lib/python3.4/site-packages/matplotlib/image.py:649: UserWarning: The backend (<class 'matplotlib.backends.backend_macosx.RendererMac'>) does not support interpolation='none'. The image will be interpolated with 'nearest' mode.

[2015-11-09 19:27] danielballan commented on #311
Interesting! Two questions:

1. What version of trackpy are you using? Check `tp.__version__`.

2. Are you able to share a sample image if anyone has time to play with this? (I might!)

[2015-11-09 19:30] danielballan commented on #312
Thanks for the report! We are aware of the second one (#299).

For the first, we should use `interpolation='nearest'`. For the third, we should follow the recommendations in that warning. Would you be able to take the time to make a pull request to address these issues?

[2015-11-09 22:30] #283 closed

[2015-11-09 22:37] nkeim commented on #295
We are testing trackpy with Python 3.5 and this error does not occur. Can you reproduce the reported failure with a more recent version of trackpy? You can also report the output of `import trackpy.diag; trackpy.diag.dependencies()`

[2015-11-09 22:45] anntzer commented on #295
With the current HEAD, this doesn't happen anymore, but now `test_link.test_copy` fails when checking for UserWarning, as pandas 0.17 now raises a FutureWarning at that spot.

[2015-11-10 00:05] Resonanz commented on #311
In answer to the first question..... 0.2.4.

For the second, is there a way to upload a .tif file and share it?  I can look into this later today, or you could tell me really quickly :-)

[2015-11-10 01:30] nkeim commented on #305
numpydoc doesn't render the "Other Parameters" section, period. This includes the latest development branch. This is a quasi-documented behavior and is not necessarily a bug: http://numpy-discussion.10968.n7.nabble.com/numpydoc-quot-Other-Parameters-quot-section-td26504.html

Is this section rendered in the matplotlib docs? If so we should just borrow some code.

Otherwise, we should just move eve

[2015-11-10 01:53] #258 closed

[2015-11-10 02:12] nkeim commented on #295
@anntzer Thank you! I'm going to reference #299 and #282 as this pertains to the sticky issue of Pandas 0.17 (because it's backwards-incompatible with Pandas 0.16.).

[2015-11-10 03:04] danielballan commented on #305
Switching to neopolitan may help. Have not tried this.
On Mon, Nov 9, 2015 at 8:30 PM Nathan Keim <notifications@github.com> wrote:

[2015-11-10 03:21] danielballan commented on #311
GitHub lets you do image attachments -- maybe arbitrary attachments too?
Not 100% sure that they accept TIFF.

On Mon, Nov 9, 2015 at 7:05 PM Alpha Particle <notifications@github.com>
wrote:

[2015-11-10 03:44] nkeim commented on #305
For future reference, this is: http://sphinx-doc.org/latest/ext/napoleon.html

On Nov 9, 2015, at 7:04 PM, Dan Allan <notifications@github.com<mailto:notifications@github.com>> wrote:

Switching to neopolitan may help. Have not tried this.
On Mon, Nov 9, 2015 at 8:30 PM Nathan Keim <notifications@github.com<mailto:notifications@github.com>> wrote:

—
Reply to this email directly or view it on GitH

[2015-11-10 20:24] caspervdw commented on #312
The multiple subplots one was also fixed in #277.

[2015-11-10 20:25] caspervdw commented on #305
I am in favor of merging Parameters and Other Parameters. The distinction is a bit arbitrary anyway.

[2015-11-10 21:11] danielballan commented on #305
That's OK with me. I picked up the pattern from scikit-image, I think, but it has downsides.

[2015-11-11 14:51] #295 closed

[2015-11-11 14:52] #282 closed

[2015-11-11 15:16] danielballan commented on #200
All of these have been addressed or opened as new separate issues on trackpy-examples. No remaining issues involve editing the source (including docstrings) of trackpy itself.

[2015-11-11 15:16] #200 closed

[2015-11-11 15:20] danielballan commented on #301
We are closing in! No open issues are awaiting a PR. I marked many minor PRs for 0.3.0 just now.

@nkeim, would you have time to do this honors this weekend? I'll make the conda packages if you make the PyPI distribution. Deal?

[2015-11-11 16:04] apiszcz commented on #282
Note I've switched to 0.17 and will provide feedback as out on the edge. ​

On Wed, Nov 11, 2015 at 9:52 AM, Dan Allan <notifications@github.com> wrote:

[2015-11-11 19:59] #312 closed

[2015-11-11 20:05] #305 closed

[2015-11-11 20:20] apiszcz opened #318 "batch question: empty frames"
In some data sets I have blank frames, is there a method to keep track of empty frames from the batch call?
Perhaps using the 'meta' parameter?
I can probably handle this by creating a list of missing 'frame' numbers from the sequence.

[2015-11-11 22:14] caspervdw commented on #318
You can get a list of all non-empty frames with `features.frame.unique()` and then check for missing ones.

[2015-11-12 00:54] Resonanz opened #320 "ENH: Store image size metadata with features"
I think it would be useful if the orientation of the video frames and the trajectory plots was the same.  At the moment on the walkthrough code that I have been using the plots can be confusing due to the flipping over of the trajectory plot wrt the video frame.  Also the trajectory plot is x and y trimmed to fit the tracked particles rather than left with the same dimensions as the video file.  T

[2015-11-12 01:16] nkeim commented on #320
As for orientation: Are you using v0.3? This should be fixed. See #195.

You will need to set the plot limits manually; trackpy currently does not pass metadata from feature-finding to linking to plotting (via the DataFrames). I'll leave this open as a feature request.

[2015-11-12 01:19] nkeim commented on #318
See also the discussion in #292 pertaining to linking.

[2015-11-12 12:07] danielballan commented on #282
Thanks, @apiszcz.

[2015-11-12 15:53] #303 closed

[2015-11-12 18:28] #289 closed

[2015-11-12 19:05] nkeim commented on #301
@danielballan Hooray! But my time will be scarce this weekend, so I won't be able to put out any fires should the need arise. Today, tomorrow, or Monday are actually more realistic.

[2015-11-12 19:08] danielballan commented on #301
I'm fine with today or tomorrow. We are ready.

And if something goes wrong it wouldn't be the first time we cranked out
emergency micro-release(s). The real cost of a release is coordinating API
breakages and release notes. Outside of that, it's not so bad.

Ping me when PyPI is done, and let me get the versioned docs and the conda
packages straightened out before you send the poll to the mailing

[2015-11-12 19:29] danielballan commented on #301
P.S. Did you catch @tacaswell's suggestion to use twine in place of python setup.py sdist upload? I have no experience with it so I did not add that to the release checklist. Up to you whether to try it out.

[2015-11-12 19:39] nkeim commented on #301
Looks like twine is worth a try. I've added it to the checklist so I don't forget.

I ran `nosetests` one more time before proceeding and it failed. Working on that…

[2015-11-12 19:40] tacaswell commented on #301
I just did a MPL release so all of that is fresh in my head.  I can do the incantations to facilitate the release if you all do the hard work of sorting out what needs to be done code wise :smiling_imp:

[2015-11-12 19:47] danielballan commented on #301
@nkeim Make sure you have pillow < 3.

[2015-11-12 20:24] nkeim commented on #301
Yes, pillow 3.0.0 was the problem. But since `conda create -n testanaconda python=3 anaconda pims` gets me pillow 3.0.0, won't this be a problem for lots of users?

[2015-11-12 21:01] danielballan commented on #301
The conda-recipe for pims does not pin pillow. I will revise that and then
rebuild the pims packages before I build the new trackpy packages.

On Thu, Nov 12, 2015 at 3:24 PM Nathan Keim <notifications@github.com>
wrote:

[2015-11-12 21:03] caspervdw commented on #301
We should also document the incompatibility with pillow < 3 in the 'known issues' section. I will make a PR

[2015-11-12 21:48] nkeim commented on #301
Thanks! Sorry for not catching that earlier.

[2015-11-12 21:49] caspervdw commented on #301
See #322  and also https://github.com/soft-matter/pims/pull/200

[2015-11-12 22:05] nkeim commented on #301
Thanks for the offer, @tacaswell ! But since it's quitting time on the East Coast, I'm going to go ahead unless you jump in right now.

[2015-11-12 22:40] nkeim commented on #301
OK, PyPI is updated; `pip install trackpy` gets v0.3.0 and tests pass. conda away!

Also [published the release on GitHub](https://github.com/soft-matter/trackpy/releases/tag/v0.3.0). Feel free to edit the description.

I updated the URLs in the announcement to point to the "0.3.0" docs, in anticipation of the final docs build.

- [ ] Rebuild docs and file under "0.3.0"
- [ ] Tag 0.3.0 release of

[2015-11-12 22:43] danielballan commented on #301
Excellent! I will do my part with a clear head tomorrow.
On Thu, Nov 12, 2015 at 5:40 PM Nathan Keim <notifications@github.com>
wrote:

[2015-11-13 03:15] tacaswell commented on #311
I have a vague memory of seeing things like this before (mind you this was 4+ years ago now (!?)) where if you use a too big mask and have dense particles you get a bias towards the center due to the edges of the CoM mask picking up weight from the neighboring particles.  Because they are farther out they have greater effect per count on the CoM and if you have lots of lines of particles you will

[2015-11-13 03:40] tacaswell commented on #301
:+1: everyone.

[2015-11-13 18:23] danielballan commented on #301
Docs are up. /trackpy/ redirects to /trackpy/stable (likewise for pims) and full paths for dev/... stable/... and 0.3.0/... are all resolved correctly. I think /stable should probably be the recommended path for sharing links.

[2015-11-13 20:36] danielballan commented on #301
Conda packages are up, including new ones for pims that pin pillow < 3.

[code]

[2015-11-13 20:40] danielballan opened #326 "Zenodo DOI does not seem to have been generated for 0.3.0"
According to the release checklist and my recollection, this is supposed to happen automatically when releases are made on GitHub. Does anyone have time to look into this?

[2015-11-13 21:19] nkeim commented on #301
Splendid!! OK to send the announcement?

[2015-11-13 21:24] danielballan commented on #301
Yeah, only the zenodo thing is left to do. Send it!
On Fri, Nov 13, 2015 at 4:19 PM Nathan Keim <notifications@github.com>
wrote:

[2015-11-13 22:03] caspervdw commented on #301
Great work!

The zenodo thing should work, there should be a setting inside zenodo so that catches every release. Also it should be configured as a webhook at the github repo.

There is something wrong in de plotting api reference, I thought I solved that in #322... You sure you have that commit @danielballan?

[2015-11-13 22:04] danielballan commented on #301
Yeah, I'm all synced up. I thought of that in particular before I rebuilt
the docs. I'll look into it.

Zenodo has worked previously, so maybe it just takes a little time to
register.

On Fri, Nov 13, 2015 at 5:03 PM Casper van der Wel <notifications@github.com>
wrote:

[2015-11-13 22:18] caspervdw commented on #301
Thought so, just checking :) I have a weekend full of rehearsals so I wont have time this weekend to check on it.

[2015-11-13 22:24] nkeim commented on #301
Unless there are objections, I'm going to wait until Monday morning to send the announcement. Friday evening seems like a bad time to ask people to fill out a survey…

[2015-11-13 22:27] danielballan commented on #301
Haha, good call. And that gives the whole weekend to discover any dumb
deployment-related mistakes.

On Fri, Nov 13, 2015 at 5:24 PM Nathan Keim <notifications@github.com>
wrote:

[2015-11-14 23:38] tacaswell commented on #326
It might only be visible to @nkeim as he created the tag.

[2015-11-15 08:35] caspervdw commented on #326
If it would only be visible for the author, it wouldn't make much sense to make the DOI anyway.... I think there is something wrong with either the github webhook or the zenodo settings.

[2015-11-16 00:31] nkeim commented on #326
@danielballan , you will want to sign into Zenodo via GitHub OAuth, then look at the "GitHub" settings for your account. Is trackpy turned on? It is not in my account, but it should be in yours.

[2015-11-18 07:01] GerhardSchneider opened #327 "Anaconda Python 2.7 Trackpy 0.3 spyder problem"
If you use conda create -n trackpy27 -c soft-matter trackpy spyder
spyder is not able to load the IPython console in spyder
import matplotlib.cbook as cbook   fails

conda create -n trackpy35 -c soft-matter python=3.5 trackpy spyder
the IPython console is working without problems

Is there a dependency problem?

Thank you in advance!

Gerhard Schneider

[2015-11-18 11:12] apiszcz opened #328 "Documentation Links Error"
I am getting '404' errors on
http://soft-matter.github.io/trackpy/dev/tutorial/walkthrough.html
http://soft-matter.github.io/trackpy/

[2015-11-18 11:54] danielballan commented on #328
That second one is bad! This was working recently and I have no pushed to
the repo since. Very confusing. Will investigate when J get to my desk.

On Wed, Nov 18, 2015 at 6:12 AM apiszcz <notifications@github.com> wrote:

[2015-11-18 11:59] danielballan commented on #328
I added an empty commit to our docs repo and re-pushed. We are back. I don't think we were down for more than ~16 hours, when I last saw the docs.

Thanks for the quick alert, @apiszcz. I'm not sure what happened. We'll keep an eye on it.

[2015-11-18 11:59] #328 closed

[2015-11-18 12:03] danielballan commented on #327
The conda packages for 2.7 and 3.5 are built from the same recipe, and the recipe does not use any conditionals based on the version of Python. Are there any spyder users reading this who might know what to check?

[2015-11-18 12:06] danielballan commented on #318
Building on @caspervdw's answer... if it isn't obvious, you could then use `set` and `np.arange` to make checking for missing ones easy.

I don't think we are going to add more complexity to `batch`. We could throw something in the docs about this though. Like the pandas cookbook, a collection of short, handy recipes would be nice to have.

[2015-11-18 17:28] nkeim commented on #327
The way Anaconda includes the various pieces of The Package Formerly Known as IPython has changed since IPython 4.0, and there may be some edge cases. Do you have the same problem with `conda create -n test spyder`?

[2015-11-18 17:33] GerhardSchneider commented on #327
No, that's the reason I wrote to that list.
Spyder with a larger amount of packages is working well, only with trackpy even the minimum installation is making troubles..

[2015-11-19 06:24] GerhardSchneider commented on #327
Thank you!
As a workaround
conda create -n trackpy27 -c soft-matter trackpy spyder matplotlib=1.4.3
did the job.
matplotlib:       1.4.3-np110py27_2

[2015-11-19 06:47] GerhardSchneider commented on #327
They know it :(
https://github.com/spyder-ide/spyder/issues/2793

[2015-11-19 06:47] #327 closed

[2015-11-19 13:38] danielballan commented on #326
It's off. I'm sure it was on previously, but it's been more than a year. Who knows. I added a note to the release checklist. I'll leave this issue open until one of us has time to manually upload the package to Zenodo and generate a DOI the non-automatic way.

[2015-11-19 17:08] caspervdw commented on #326
I can do it. Who are we going to list as authors? Just the four of us or anyone that made a commit? I'm not sure on this one. I think the default is anyone that made a commit. But we could make a difference on writing 1 line and writing 60000 lines.

[2015-11-19 19:04] nkeim commented on #326
Great question. My guess is that at least for the next few years, the list of contributors will not become completely unmanageable. And I'm not sure we want to exercise the authority required to just leave people off the list. On the other hand, some do deserve more credit than others.

Just brainstorming about it, I can think of 3 solutions:

1. List only the core contributors, plus any contribut

[2015-11-19 19:15] caspervdw commented on #326
Zenodo also offers a 'Contributors' field, next to the authors. I am not sure how exactly that will display, but it gives us the opportunity to acknowledge contributors while keeping the list of responsible authors short.

Following general guidelines about authorship (for instance http://www.pnas.org/site/authors/journal.xhtml, article 2), it would make more sense to only list the core contributo

[2015-11-19 19:26] danielballan commented on #326
I am comfortable with that. If anyone outside of the core contributors is reading along, please feel free to speak up.

[2015-11-19 19:28] caspervdw commented on #326
Ok, I can get the names from the user profiles.

@apiszcz if you'd like to be listed as a contributor, could you give us your name and affliation? As in https://zenodo.org/record/12255#

[2015-11-19 21:28] caspervdw commented on #326
And @nkeim, @tacaswell, do you agree with this? Authors: core contributors ; Contributors: all others that pushed commits to trackpy

[2015-11-19 21:37] nkeim commented on #326
Yes, for this release, major contributors = core contributors = people with write access to the repo.

[2015-11-20 02:24] tacaswell commented on #326
:+1:

[2015-11-20 09:58] apiszcz commented on #326
Al Piszcz, The Mitre Corporation

On Thu, Nov 19, 2015 at 2:28 PM, Casper van der Wel <
notifications@github.com> wrote:

[2015-11-20 20:17] caspervdw commented on #326
Thanks, I updated the readme.md and published the DOI on Zenodo: http://dx.doi.org/10.5281/zenodo.34028. Closing.

[2015-11-20 20:17] #326 closed

[2015-11-20 21:37] danielballan commented on #326
@caspervdw Can you update the table in `introduction.rst`?

[2015-11-21 13:14] caspervdw commented on #326
@danielballan Done

[2015-11-21 13:23] caspervdw opened #329 "Tests is failing on pandas 0.17.1"
I commited directly to master with the change of the Zenodo DOI ( #326 ) . That triggered Travis and the latest-version testcase failed because of the recent release of pandas.

Another reason why not commit to master directly. Sorry about that :S I will look into it today.

[2015-11-21 14:52] caspervdw commented on #329
Closing through #330

[2015-11-21 14:52] #329 closed

[2015-11-22 15:35] danielballan commented on #329
No worries. It's a right of passage to break master. :- )

[2015-11-23 18:41] caspervdw commented on #296
Just wanted to mention #330 here. We should adapt the tests in `test_motion` too when we change this.

[2015-11-25 19:12] caspervdw commented on #301
The Zenodo things seem to be all right, only at https://pypi.python.org/pypi/trackpy there is still an old badge. Can somebody with rights on pypi change this?

[2015-11-25 20:21] nkeim commented on #301
Fixed. I also fixed some RST formatting and removed the Travis badge. Sorry to have been hasty about that earlier.

[2015-11-25 20:23] nkeim commented on #301
Well, I think that wraps up v0.3. Congratulations and thanks, everyone!!

[2015-11-25 20:23] #301 closed

[2015-12-09 05:39] nkeim commented on #271
Follow-up: We got 2 responses from core contributors, and 2 responses from users previously unknown (to me, at least). As a reminder to those following this project: you can go to [this Google form](https://docs.google.com/forms/d/1QqneHh1r_8O90so-LbITUVY--3Xen8tfKcc-2AYf6Oo/viewform) and just fill out your name and organization, or even just your organization. The more people we know use trackpy,

[2015-12-09 05:39] #271 closed

[2015-12-11 19:24] hadim opened #335 "Faster MSD calculations"
I found a Python implementation to compute MSD with FFT which seems faster than conventional MSD algorithm because the algorithm is `O(N*log(N))`.

I did a quick and small benchmark here : https://github.com/hadim/public_notebooks/blob/master/quick_msd_calculations/quick_msd_calculations.ipynb

Two things :

- the returned `DataFrame` is less detailled than in `tp.msd`.

- the msd array is sliced

[2015-12-12 13:19] hadim commented on #304
You might also want to consider `joblib` (https://pythonhosted.org/joblib/). This is a very light wrapper to `multiprocessing` module.

The API is very clean and simple to work with. I used since a few years and it makes code more readable and easy to maintain/read than using the `multiprocessing` module that Python provides.

[2015-12-13 00:06] nkeim commented on #304
Follow-up on one of my earlier comments: I've implemented a "throttled parallel map" function that avoids excessive accumulation of results in memory: https://gist.github.com/nkeim/24428112a24a264b6d75

This thread is becoming a trove of resources for whoever eventually tackles this problem…

[2015-12-13 15:39] danielballan commented on #335
Interesting. That's a big speedup!

Yes, I'd be very interested in seeing this as a PR into trackpy. Since it has different advantages and limitations compared to the existing implementation, I'm guessing it will make the most sense to incorporate as a separate function that either replaces or sits alongside the existing one (rather than implementing a keyword argument to switch between them).

If

[2015-12-13 16:03] hadim commented on #335
I created a `msd_fft` function. For `emsd` and `imsd` I think it's cleaner to add a paramter `fft` to avoid code duplication.

What do you think ?

If you don't like it, tell me how should I duplicate the function please : `emsd`/`emsd_fft` and  `imsd`/`imsd_fft`

[2015-12-13 16:05] danielballan commented on #335
Any thoughts from the rest of the team of this?

[2015-12-13 16:07] hadim commented on #335
I'll make the PR the way I think it's fine and then we can discuss there and iterate to modify the API.

[2015-12-13 16:10] danielballan commented on #335
Great. Thanks a lot for looking at this!

[2015-12-13 16:18] hadim commented on #335
Discussion continue to #337

[2015-12-13 16:18] #335 closed

[2016-01-08 13:43] sciunto opened #338 "v0.3.0 : test failure pandas"
Hi,

A quick note to report this:

[code]

I can check against master. If it's fixed in master, it would deserve an update. It's actually blocking for the archlinux package.

Thanks.

[2016-01-08 16:37] nkeim commented on #338
Thanks. What is the pandas version?

On Jan 8, 2016, at 5:43 AM, Fran?ois Boulogne <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi,

A quick note to report this:

  File "/usr/lib/python3.5/site-packages/pandas/util/testing.py", line 819, in raise_assert_detail
    raise AssertionError(msg)
AssertionError: Index are different

Index classes are different
[left]:  Float64Inde

[2016-01-08 16:53] sciunto commented on #338
0.17.1

[2016-01-08 17:33] caspervdw commented on #338
Current master is passing with pandas 0.17.1, after PR #330. So probably that fixes this error.

 If not, there is a fix in this test in #337, which has to do with float inprecision. But that one is not merged.

[2016-01-08 21:30] sciunto commented on #338
I made a virtualenv and checked against master. This issue seems to be solved but I have another error:

[code]

[2016-01-08 21:35] sciunto commented on #338
I don't know if there is some relation with https://github.com/soft-matter/pims/pull/204

[2016-01-09 00:12] caspervdw commented on #338
Yes this issue came up with PIL 3.0.0.  You can either roll back PIL to 2.9.0 or use the pims master.  Pims 0.3.3 will include the fix and will be released soon.

[2016-01-09 17:58] sciunto commented on #338
Le 08/01/2016 19:12, Casper van der Wel a écrit :

Thank you. I need to patch or wait Pims 0.3.3 for the package on
archlinux. I cannot roll back PIL for that. I'll wait a little more if
it's upcoming :)

Best.

[2016-01-14 09:06] caspervdw opened #339 "Travis error: PyFFTW"
Travis is erroring on the PyFFTW download from anaconda:

    Error: MD5 sums mismatch for download: https://conda.anaconda.org/soft-matter/linux-64/pyfftw-0.9.2-np18py27_0.tar.bz2 (2898a378840ba43e6d120ce8cf3ec2e5 != 7f6b58a784abaa4df41e886637e6ebd5)

    Error: MD5 sums mismatch for download: https://conda.anaconda.org/soft-matter/linux-64/pyfftw-0.9.2-np19py34_0.tar.bz2 (2898a378840ba43e6d120ce

[2016-01-14 17:55] caspervdw commented on #339
To be clear: this is an issue with our own builds on the soft-matter channel.

A solution could be: stop supporting pyfftw builds from soft-matter, remove the dependency from travis builds. If users want to use the legacy bandpass function with pyfftw acceleration then they would need to build it themselves.

[2016-01-14 22:54] tacaswell commented on #339
did one of us push up new versions or is someone man-in-the-middle attacking us?

@danielballan is sitting next to me and denies responsibility

[2016-01-15 07:44] caspervdw commented on #339
I don't believe that I have write access to the conda channel.

[2016-01-15 16:15] caspervdw commented on #339
Another one in https://github.com/soft-matter/pims/pull/220, ffmpeg :

    Error: MD5 sums mismatch for download: https://conda.anaconda.org/soft-matter/linux-64/ffmpeg-2.2.4-0.tar.bz2 (71d7a55d5ca8452ae4d402e19d093a8a != 0fcb9843d8b164ca6574f2a8bc8af2cc)

What's going on? Could the files be corrupted by some conda server error? If you look at the file dates at https://anaconda.org/soft-matter/pyf

[2016-01-15 16:44] danielballan commented on #339
Must be. That is worrying. I will try re-pushing when I have the bandwidth to revisit this.

[2016-01-15 16:48] tacaswell commented on #339
Are we doing any caching on travis?

[2016-01-16 16:01] caspervdw commented on #339
The issue seemes to have solved itself, tests pass again.

[2016-01-21 09:14] #339 closed

[2016-01-23 18:19] danielballan opened #340 "Benchmark scipy 0.17 vs. 0.16"
scipy 0.17 landed today with "[significant performance improvements in cKDTree](https://github.com/scipy/scipy/releases/tag/v0.17.0)". We should benchmark and make a note in the docs if we see a big speed increase.

[2016-01-23 21:58] caspervdw commented on #320
Would be great to also have the calibration (microns-per-pixel, frames-per-second) as metadata on the DataFrame. I find myself quite often messing around with the units of the position columns.

[2016-01-26 00:55] Resonanz opened #341 "Matplotlib artist.py deprecated"
I notice on Daniel's trackpy walkthru page that there is a warning with the MSD plotting as shown below.  I am also receiving this warning on my PC. Thanks.

[code]

Thomas appears to have addressed this here: http://matplotlib.1069221.n5.nabble.com/MatplotlibDeprecationWarning-td46462.html

[2016-01-26 03:05] tacaswell commented on #341
That particular warning might be fixed in 1.5.1, I missed an (obfuscated) internal call that is exercised by pandas plotting code.

[2016-01-26 03:55] Resonanz commented on #341
I have just updated matplotlib as follows:

[code]

and the problem is still there.

Also a few lines earlier in trackpy is this code:

`em = tp.emsd(tm, micronsPerPixel, frameRate)`

which gives a deprecated warning:

[code]

[2016-01-26 13:45] caspervdw commented on #341
This latter issue (with `emsd`) was fixed in #313; it is in the latest trackpy version (v0.3)

It might be a good idea to drop all pandas plotting routines and do it ourselves. In that way we have more control.

[2016-01-26 20:28] Resonanz commented on #341
Mmmm, pretty sure I am running the latest trackpy...

[2016-01-26 21:16] caspervdw commented on #341
To be sure, could you just print `trackpy.__version__` ? Because in v0.3, I cant find any `icol`.

[2016-01-26 21:29] Resonanz commented on #341
Thanks for pointing that out.  I am on version 0.2.4 -- my bad :-(  I should try to figure out how to update trackpy...

[2016-01-26 22:14] Resonanz commented on #341
IIRC I may have had problems installing 0.3.0 using conda so was using pip instead.  pip install --upgrade trackpy failed to correctly update to 0.3.0 today so I tried using conda install -c soft-matter trackpy again and this time it has installed 0.3.0 correctly which is really nice !!!  So thanks!!!

The new 0.3.0 version seems to be processing frames quite a lot faster than 0.2.4 (or am I imagi

[2016-01-26 22:22] Resonanz opened #342 "Trajectory plot"
A difference between 0.2.4 and 0.3.0 is that in the latter a legend is placed over and obstructs a section of the trajectory plot. This is shown in Daniel's walkthru example also.  I'm not sure that the legend is necessary and certainly detracts from the plot.  Can it be removed or switched off?

[2016-01-27 01:33] nkeim commented on #341
Not your imagination! :smile:

You should probably check out the [release notes](http://soft-matter.github.io/trackpy/0.3.0/whatsnew.html) — there are a lot of changes.

[2016-01-27 07:35] caspervdw commented on #341
What kind of errors did you get with the update?

[2016-01-27 08:21] Resonanz commented on #341
Hi Casper, I don't remember now -- it was months ago.  But it seems to be all okay now :-)

Nathan, yes, certainly seems to be cranking thru the frames much faster than previously.

I have read the release note, so thanks!

[2016-01-27 08:25] Resonanz opened #343 "Upside down plotting"
I think that the trajectory plots flip my video frames so that the top is at the bottom and the bottom is at the top. e.g. [0,0] in the trajectory plot is bottom-left while [0,0] in my video frames is probably being taken as top-left.  This makes it confusing to follow which particles are doing what (yeah, sometimes this really is useful) so I am wondering if this is known or deliberate or just me

[2016-01-27 22:56] leifmos opened #344 "New particles are not tracked"
To whom it may concern,

I try to track particles that float into the field of view.
trackpy only tracks the particles that are present on the very first image.
particles that leave the field of view are done. - that's ok.
But particles that enter the field of view won't get a new trajectory ...

Is it meant to be this way?
Or am I doing it wrong?

Thanks in advance,
Mats

[2016-01-27 23:43] tacaswell commented on #344
Can you provide an example?  It should be looking for new features in each frame.

[2016-01-29 08:20] caspervdw commented on #343
There was an inconsistency between `annotate` and `plot_traj` in 0.2.4, which was solved in 0.3. In 0.2.4, annotate displays upside-down (origin at bottom left) and plot_traj displays correctly (origin at top left).

Are you using 0.2.4 and does upgrading to 0.3 help?

If not, could you try something like this and see if this works out for you:

    import matplotlib.pyplot as plt
    import track

[2016-01-29 08:23] caspervdw commented on #342
Thanks for the report! I can't see the use of the legend too, it should be disabled by default.

[2016-01-30 12:14] leifmos commented on #344
sorry, for my late response,

while I was trying to provide you with more information I found out, that the indices after
[code]
are not continuous ...

So i was just checking how many particles were found:
`number_of_cells=self.tracks_minlength['particle'].nunique()`

and than I assumed that the indices must be like:
`range(number_of_cells)`

Long story short: **Indices are are not continuous. **

[2016-01-30 19:40] tacaswell commented on #344
Closing this as there is not really a bug in trackpy.

I strongly suggest you learn to use pandas.  The results of feature tracking do map very well on to the tabular data structures that pandas provides.   It really does simplify many common operations (ex, getting new data frame with the average (x, y) of each track is a one liner) and is heavily used in trackpy intenals.

By 'indicies' here I t

[2016-01-30 19:40] #344 closed

[2016-02-03 05:52] nkeim commented on #340
Great! I will check in a couple weeks to see if this release has made it to conda yet.

My hopes are not high — cKDTree is usually not a major driver of performance (or lack thereof). But it will be worth a look.

[2016-02-03 21:18] Resonanz opened #346 "trackpy differences in results on Mac and PC"
I have python 3.5 installed on 3 machines: a windows 10 pc, a mac desktop and a mac laptop. The pc uses VMware Workstation + debian to run conda and trackpy.  The laptop has Parallels and debian to run conda and trackpy.  I have 3 setups to spread the processing for lots of files.

All of the machines have been set up using conda in a python 3.5 env and have trackpy 0.3.0.

Taking 500 frames of vi

[2016-02-04 16:32] tacaswell commented on #346
You should look into ipyparallel to help with job distribution.

These are 'modern' macs with intel chips? Are they all 64 bit?  what versions of numpy / scipy are you using everywhere?

[2016-02-05 18:55] caspervdw commented on #338
@sciunto  I just released pims 0.3.3, all tests should now pass with any Pillow version. Please give it a try!

[2016-02-05 19:01] sciunto commented on #338
@caspervdw It works! Packages for archlinux are updated :)

Many thanks.

[2016-02-05 19:15] sciunto commented on #338
I leave it open, we can close once the new trackpy is released.

[2016-02-16 20:09] caspervdw commented on #181
Just to add to this wishlist:

- [ ] indexing page for doc versions
- [ ] travis should build the dev docs

[2016-02-26 18:23] nkeim opened #348 "Make pair correlation functions discoverable in docs, API"
#336 introduced 2D and 3D g(r) functions to trackpy. But they are not yet imported in `api.py` nor listed on the "API" page of the documentation.

[2016-02-28 21:47] vivarose opened #349 "Errorbars on ensemble MSD plot"
I would like to see errorbars on the ensemble mean square displacement plot. There are a number of subtleties that could be taken into account. (For example, the coordinates that Trackpy assigns to each particle will have some error. For another example, the single particle MSD error must be calculated with the awareness that the data being averaged are not independent.)

The easiest way to do it

[2016-03-04 20:12] caspervdw commented on #349
Thanks for you request! I think that a simple error analysis can be based on the effective number of independent measurements, which is already calculated by `msd`. However, if you start to include tracking uncertainties, particle correlations etc., the error estimation becomes more difficult and very much user-specific.

I am not in favor of including those extra effects. A simple estimation woul

[2016-03-04 22:12] vivarose commented on #349
I will definitely think about contributing to trackpy because I do think this would be helpful for me and for the community.

[2016-03-04 23:17] nkeim commented on #349
:smile: This would be a welcome addition! I agree that it should not be turned on by default, and it should get more than a few words in the documentation. Otherwise the possibility for a non-expert (i.e., me) to misinterpret the result could be too great.

[2016-03-05 02:05] vivarose commented on #349
My plan is to edit the emsd function so that it returns a standard deviation. This standard deviation shows how the single particle MSDs vary. Very simple, no subtleties.
Two initial questions (which can be changed later anyway):
1. Should emsd() always return the standard deviation? or only if detail=True?
2. What should the standard deviation be called? stdev, stddev, sigma, something else?

[2016-03-05 16:48] tacaswell commented on #349
I am strongly :-1: on kwargs changing the number/type of returned values.  If you need to break the API on `msd`, then either just break it and document it or (and I know @danielballan will disagree about this) make a new function (`msd_err`?, I am bad at naming things).

I would go with the numpy naming of `std`.

[2016-03-06 14:21] danielballan commented on #349
Welcome, @vivarose!

@tacaswell A reminder here that we already have this `detail=True` flag that @vivarose mentioned in (1). If I was doing `emd` over again, I would implement `emd_detailed` as a separate function. But I think (1) is probably the right way to go here with respect to consistency with the existing code. If we want to rethink that API, we should do it for *all* the detailed columns,

[2016-03-08 01:31] vivarose commented on #349
Hi,

Thank you for the encouragement! I hope this will be useful for the community. I find that MSD plots look deceptively smooth because the datapoints are correlated with each other, so having the ability to plot errorbars will certainly be useful to me.

I added a few lines to the function tp.motion.emsd() so that it now calculates and returns the standard deviation. It's available here: https:

[2016-03-09 16:06] caspervdw commented on #349
Closing through #352

[2016-03-17 13:35] danielballan commented on #342
@tacaswell Any idea whether this changed upstream? I don't recall touching the legend stuff in our code.

[2016-03-17 13:36] danielballan commented on #320
I remember discussions about DataFrame metadata. As with numpy array metadata, the difficulty is how to propagate it through various operations. Unfortunately, it was generally agreed that monkey-patching DataFrames with metadata is a bad idea.

[2016-03-17 14:36] tacaswell commented on #342
It looks like if you pass a `legend=False` kwarg it will disable the legend.

Looking at https://github.com/soft-matter/trackpy/blob/master/trackpy/plots.py#L56 I do not see what has changed sense 2013, but there is clearly a call to `plt.legend` (not `ax.legend`).  I do not think any upstream changes should have affected this.

[2016-03-21 19:15] apiszcz commented on #340
Interesting, I had a quick look at Ball Tree and KDTree in another regard, probably worth posting here.

@66million, BALL Tree gives 11% improvement in performance at 4.8% increase in memory requirement, finishing 7 minutes sooner than KD-Tree.

@6million BALL Tree is 23% faster.

BTW: On another issue I bumped in to photoutils, it 'may' have some utility for certain use cases wrt to trackpy, howe

[2016-03-21 19:16] apiszcz commented on #340
BTW: I'm testing/running with PANDAS 0.18, no new issues from Trackpy 'so far'.

[2016-03-22 19:51] vivarose opened #354 "Upgrading to Pandas 0.18.0 causes trackpy errors"
My travis build (https://github.com/soft-matter/trackpy/pull/352#issuecomment-199969738) failed.

Pandas 0.16.2 works with trackpy. I'm not sure whether Pandas 0.17 works.

[2016-03-24 13:03] rfhigler opened #355 "Inconsistent behaviour with preprocessing(bandpass) of frames"
The following to code snippets give entirely different results even though functionally they are identical. The only difference is the whether I call tp.bandpass() before I do tp.locate() or whether I use tp.locate() to call tp.bandpass() for me.

`frame_bp = tp.bandpass(frames[0], [1, 1, 1], [13, 13, 13], threshold=None, truncate=4)`
`test_loc2 = tp.locate(frame_bp, diameter=(13,13,13), separatio

[2016-03-26 04:29] tacaswell commented on #355
@rfhigler Can you put in a PR making that change?

[2016-03-26 13:21] rfhigler commented on #355
@tacaswell Yes I could, but after looking a bit further I don't think my changes actually fixes anything. They only work in my very specific case where I start with uint16s, bandpass them into float64 and rescale them back to either uint8 or uint16. Going the default route (uint16) results in ~3300 local maxima while I only expect 86. The uint8 route works fine; but forcing a rescale of every inpu

[2016-03-27 18:48] caspervdw commented on #354
Thanks for the report! This is a pandas / numpy bug (https://github.com/pydata/pandas/issues/12600), luckily it doesn't break our code but only two of our tests: I think we can come up with a workaround for the tests.

[2016-03-27 19:31] caspervdw commented on #355
Hi @rfhigler, thanks for your issue report.

After `locate` performs the bandpass, it always normalizes the image and coerces it to integer type. Which bitsize it uses, depends on the input image: if the original image was of float type, it will be an uint8; if the original image was of integer type, it will take that datatype (for you: uint16). That is what line 567 is about. If you do the prepro

[2016-03-28 11:41] #354 closed

[2016-03-28 12:42] caspervdw commented on #342
I think there is a simple bug in our code: when `legend` kwarg is not given, it will default to `None` in the `make_axes` wrapper. The legend is then shown when there `legend` is not `False`. This should have been `legend not in [False, None]` or something like that. Effectively, legends are shown by default now.

Probably automatic labeling of the plots (something between pandas and matlotlib) ha

[2016-03-28 13:05] caspervdw commented on #341
The deprecation warning is not a trackpy issue: closing

[2016-03-28 13:05] #341 closed

[2016-03-28 13:07] caspervdw commented on #338
What is our policy regarding closing solved issues? Close after release or close after merge? I am in for closing this as the solution was merged already.

[2016-04-15 17:53] caspervdw commented on #257
What about the following submodules:

- `trackpy.find` for `local_maxima` - like routines
- `trackpy.refine` for `refine`
- `trackpy.preprocess`
- `trackpy.locate` for all convenience routines that combine `find` and `refine`
- `trackpy.feature` (?) for `characterize` and `filter`-like functions

[2016-04-15 19:54] nkeim commented on #257
I think we should keep `feature` as the module for convenience routines. I think we can do this with minimal API breakage, maybe just dropping some lesser-used keyword args from `locate` and `batch`. And I think that the characterizing and filtering functions may be sufficiently high-level that they can also be included in `feature`.

I am starting to think of this as a "deli menu" approach for or

[2016-04-15 20:34] tacaswell commented on #257
I like the deli analogy.

If the pre made pipelines do some high level cleanup, that logic should
also be pulled out in to helper functions as well.

On Fri, Apr 15, 2016, 12:54 Nathan Keim <notifications@github.com> wrote:

[2016-04-19 16:37] caspervdw commented on #257
This sounds like a good idea to me! I like the analogy.

To suppress unexpected results (@nkeim ) we should be very specific and picky about the parameters given to any of the 'custom' functions. `locate` can on the other hand be more accomodating: we could even convert images to gray by default if necessary, etc.

We should begin by dissecting `locate` into manageable functions. If we can do that

[2016-04-19 19:05] danielballan commented on #257
Agreed all around. I will definitely be stealing that deli analogy. I think trackpy is at the point where we should try avoid breaking the `locate` API if possible.

[2016-04-20 00:36] nkeim commented on #257
I think @caspervdw describes the right approach with `locate()`. Another way to put it is as a challenge: can we take the core part of the `locate()` source code and, for a typical use case, make it so short that we can give it as an example in the documentation?

[2016-04-26 13:39] caspervdw opened #360 "Release 0.3.1"
There are some bugfixes that should be released in the near future. I marked them in the milestone. The only extra thing is writing the release notes.

Possibly, we should have a look at the automatic doc build (the sooner the better). I put out the issue on https://github.com/soft-matter/pims/issues/232, I am not really into encryption but it should be easy to get it running via a deploy key.

[2016-04-26 13:39] caspervdw commented on #343
Closing through https://github.com/soft-matter/trackpy/pull/357

[2016-04-26 13:39] #343 closed

[2016-04-26 13:40] caspervdw commented on #342
Closing through https://github.com/soft-matter/trackpy/pull/357

[2016-04-26 13:40] #342 closed

[2016-04-26 13:40] #338 closed

[2016-04-26 13:41] caspervdw commented on #318
I think this issue is solved as we are not going to give DataFrames metadata.

[2016-04-26 13:41] #318 closed

[2016-05-04 15:16] caspervdw commented on #349
@vivarose  I am reopening this issue, because we did not merge your PR. Let's keep this issue open until there is a new PR created.

[2016-05-04 15:29] vivarose commented on #349
My PI Vinny has a classroom student working on a Bayesian approach to the error analysis, which may supersede my pull-request.

[2016-05-19 22:34] apiszcz opened #369 "Anaconda Install?"
FYI

[anaconda3] C:\Users\a>conda install -c soft-matter trackpy
Using Anaconda Cloud api site https://api.anaconda.org
Fetching package metadata: Could not connect to https://conda.anaconda.org/soft-matter/noarch/
Could not connect to https://conda.anaconda.org/soft-matter/win-64/
.Could not connect to https://repo.continuum.io/pkgs/pro/noarch/
.Could not connect to https://repo.continuum.io/pkgs

[2016-05-21 10:34] kmdouglass opened #370 "Unexpected behavior with link_df and its memory argument when frames missing"
Hi all,
I have found that the `memory` argument to `link_df()` is essentially ignored on a test case I made consisting of a single particle that disappears for a couple frames and then returns in **trackpy 0.3.0**. In the example below, the last appearance of the particle is erroneously grouped into the track for the first four particles, despite its appearance after a time longer than the `memory

[2016-05-21 10:37] kmdouglass commented on #370
My apologies. I think this is the same as #292

[2016-05-21 17:11] caspervdw commented on #370
Yes, this is indeed fixed in the next release, v0.3.1, which will come out very soon!

[2016-05-21 17:12] #370 closed

[2016-05-21 17:59] danielballan commented on #369
That looks like a connection problem on your system. The [win64 builds](https://conda.anaconda.org/soft-matter/win-64/) are all there.

[2016-05-21 18:00] danielballan commented on #360
We at BNL have been working on this on and off as well, and @ericdill is close to having a solution with the same pattern we want for soft-matter.

[2016-05-21 18:00] danielballan commented on #360
^ RE: the auto-building docs, that is.

[2016-05-21 19:46] caspervdw commented on #360
I thought the doc building has been solved already?

[2016-05-21 20:19] danielballan commented on #360
<blink> Yep. Totally forgot about where we discussed this recently. My bad!

[2016-05-21 20:45] caspervdw commented on #360
No problem! Let's finish this release soon :)

[2016-05-24 09:46] milenkorz opened #371 "Detection of objects via weighted center of brightness values of pixels"
Is it possible to detect objects with weighted center of brightness of pixels (“center of mass”)? This is often necessary, when the objects have another shape than Gaussian like?

[2016-05-25 01:17] nkeim commented on #371
Do you mean a COM that is off-center? Is it possible to attach an image file?

[2016-05-26 16:14] caspervdw commented on #371
Just for clarity, trackpy uses 'center of mass' subpixel refinement, not gaussian fits.

[2016-06-01 13:51] zoeith opened #373 "memory usage in locate and linking"
Hello,
We've been trying to "process an unlimited number of frames" but hitting a hiccup with memory usage. Running in a jupyter notebook, the following eventually gobbles up all of the 128GB of our workstation while processing 200k frames with ~14k features per frame. Unfortunately, the scale needed to reproduce this also makes it difficult to provide a MWE. Any hints on what might be up or where

[2016-06-01 14:39] nkeim commented on #373
It's great to learn about someone else scaling trackpy! I would start by testing two things:

- Run linking but without storing the results.
- Don't store the results *and* feed it the same input 200,000 times (with itertools.repeat()). This will bypass portions of the algorithm and bypass HDF reading.

The other major memory leak we had in the past was when there were large numbers of dropped par

[2016-06-02 19:57] zoeith commented on #373
@nkeim just a brief update: I kicked off your first suggestion, i.e. linking without storing, and while I'm only ~100k frames in, the memory usage of the process seems reasonable and has stayed constant for a while now. So I guess testing the second version (using the same frame repeatedly) isn't necessary.

Does this mean there's a problem in pandas hdfstore somewhere? I don't see anything obviou

[2016-06-02 20:48] nkeim commented on #373
I was afraid of this! Beneath `PandasHDFStore` are pandas, pytables, and HDF5, and all have limitations. I have a few suggestions, and others can weigh in:

1. Try `PandasHDFStoreSingleNode`, which literally stores all of your data in a single on-disk table. This may actually scale *better* than storing frames separately, since HDF5 is optimized for tens of nodes in a file, not 10^5 (`trackpy.Pand

[2016-06-03 15:55] caspervdw commented on #373
I am totally not experienced with datasets of this scale, but it might be interesting to try out appending the data to a dask DataFrame: http://dask.pydata.org/

[2016-06-10 10:25] caspervdw opened #376 "Refinement mismatch of python engine"
Because I was running some tests on a Gaussian-refinement method, I was testing the rms error in the refinement on artificial images. There are some worrying results here: the python engine performs much worse than the numba engine! Also, I showed that bandpassing really helps.

Parameters are:
 -  feature shape is hat size, which is a solid disc with gaussian shaped borders
 -  `size`, the value

[2016-06-10 21:10] nkeim commented on #373
@zoeith I forgot that I already implemented my 2nd proposed solution back when I was at Penn. You can find the code here: https://github.com/nkeim/pantracks/ It may be a little rusty at this point and I cannot vouch for how well it scales to your application. But it worked well when I was using it. Let me know if you have any questions.

And if you find something that works, or almost works, pleas

[2016-06-11 06:10] tacaswell commented on #373
I second number 2 going further and use h5py directly, but keep the total number of groups / datasets low.  It is probably not the source of your memory consumption, but with large numbers of small data sets you can start to see performance degradation in reading data out.

The results of linking used to be track wise, but that had it's own performance issues.  I _think_ there is a way to inject a

[2016-06-17 19:40] zoeith commented on #373
Thanks all.
I think we're willing to sacrifice disk space to have efficient access to both frame and track representations, so I'll work toward to building a data structure and access class that encapsulates that.

I will report back when I've got some real progress...

[2016-06-19 20:42] zoeith opened #378 "Pixel biasing in bidisperse system"
Hi all,

Using the matlab version (http://site.physics.georgetown.edu/matlab/tutorial.html) with the following lines we get positions of both small and large particles with no apparent pixel biasing, but in the image attached, trackpy's locate function with similar input parameters has lots of pixel biasing.

[code]

I've tried varying the parameters including percentile and minmass, but I either

[2016-06-19 20:55] caspervdw commented on #378
Are you using the numba or the python refine engine?

[2016-06-19 21:06] caspervdw commented on #378
Because this could be an issue with the python engine, solved in #377. Please checkout that branch if you think that you are using the python engine.

[2016-06-19 21:06] zoeith commented on #378
Cool, I getter better (but still weird) results with python:
![image](https://cloud.githubusercontent.com/assets/8890334/16179840/16bb069c-3640-11e6-9d41-f014b0cee3ca.png)
vs numba:
![image](https://cloud.githubusercontent.com/assets/8890334/16179845/33350d40-3640-11e6-92eb-60910c7baa5d.png)

[2016-06-19 21:13] zoeith commented on #378
Trackpy 0.3.0
Numba version is 0.26.0

[2016-06-20 18:39] caspervdw commented on #378
To be clear, the python and numba engines should do exactly the same. This will be fixed in v0.3.1. For now let's only consider the numba engine.

The subpixel biasing is (as far as I know) always caused by a too small mask size. But the difference with matlab is worrying, I thought that the output is always very similar. Maybe @nkeim has something to add in this? Which trackpy parameters did you

[2016-06-20 19:35] zoeith commented on #378
The pixel biasing is pretty consistent with changes in parameters up to a diameter of 13 (but is still slightly present) when many of the small particles start to go missing.

An example function call might be:
[code]

I've tried lots of various combinations of percentile, minmass, noise_size, and separation.

[2016-06-20 20:00] caspervdw commented on #378
Did you try lower values of `separation`?

If that does not work, you'll probably have to wade into the `locate` code: more specifically, give `local_maxima` (which is the equivalent of pkfnd) a different length scale than `refine` (which is cntrd). We are planning on making this more user friendly, but for now the internals of locate are not properly documented. Please let us know your progress!

[2016-06-20 21:15] zoeith commented on #378
Adding an optional `refine_diameter` parameter to `tp.locate` seems to have significantly improved the results!

[code]

![image](https://cloud.githubusercontent.com/assets/8890334/16210551/989b340a-370a-11e6-9f17-197d7739a38e.png)

I think I can propagate that through to `tp.batch` and generate some docs for the option if you want a PR.

Right now it just looks like this:
[code]

[2016-06-21 19:30] caspervdw commented on #378
Thanks for the report @zoeith , it looks much better!
I think that I am :-1:  on adding any extra kwargs to `locate`. (what do you think @danielballan  @tacaswell  @nkeim ?) We actually plan to reduce them and make it easier for users to write their own `locate` and `batch` for more specific cases. ( #257 )

But any contribution on trackpy is much appreciated, please let us know if you encounter a

[2016-06-21 19:31] caspervdw commented on #376
Solved through #377

[2016-06-21 19:31] #376 closed

[2016-06-21 19:36] #371 closed

[2016-06-21 23:58] tacaswell commented on #378
I am actually :+1: on this (even though it expands the API a bit) in that the window used for refinement / COM calculations does not need to be the same value used for band passing.

I normally advocate for adding more specialized functions, but this seems like a reasonable generalization.

[2016-06-22 17:29] zoeith commented on #378
I tried out #361 and got real improvement in the pixel biasing. But the diameter I used is still kind of large. It seems like most of the particles are there though.

[code]
![image](https://cloud.githubusercontent.com/assets/8890334/16276582/fc072616-387c-11e6-923f-15ed6d5886b6.png)

- It looks like all the components of `tp.bandpass()` are already exposed through the `tp.locate()` kwargs so I do

[2016-07-01 18:49] #378 closed

[2016-07-05 20:42] maschaG opened #379 "OverflowError: Python int too large to convert to C long"
Hi,
we are using trackpy for some time now very successfully. We had tiffstacks of 12000 frames and an image size of 130x130 pixel. Now we started to use an different setup with 6000 frames and 450x450 pixel and the error "OverflowError: Python int too large to convert to C long" occurs after the frame 5806 every time when we use tp.batch. I checked which frames I can print and it's obvious that t

[2016-07-06 03:13] nkeim commented on #379
It's great to hear that trackpy works for you! (Except for this.)

Your tiff stack is larger than 2 GB, which means that 32 bits is not enough to address every location in the file. Somewhere there is a 32-bit component that must be 64 bits instead. The first thing to check is whether your version of Python is a 32 or 64-bit version. Based on the error message it sounds like that is the problem.

[2016-07-11 21:33] danielballan opened #381 "Try pre-compiling numba code"
I just learned that numba now supports ahead-of-time compilation, such that numba-generated code can be distributed in a package with only numpy as a dependency -- no numba or no LLVM for necessary for users.

I see two benefits (1) obviously, this makes it easier for non-conda users to enjoy numba-powered speedups and (2) I think it frees us to rely on bleeding-edge numba features.

[2016-07-12 15:32] zoeith commented on #381
Heads up though:
[code]

the current builds on conda (at least for mac osx 64 and linux 64) have a weird versioning.

short term workaround:
[code]

[2016-07-12 20:08] caspervdw commented on #381
@zoeith  I made a PR with a fix for your issue. Could you check and confirm that it is fixed?

@danielballan  Would this precompiling be platform-specific?  And what is the advantage of numba over cython if you precompile anyway?

[2016-07-12 20:15] #369 closed

[2016-07-13 02:48] danielballan commented on #381
Fair question. Numba can beat Cython performance -- sometimes on one core and especially with the multicore and GPU targets (which we should expose through our API...). And I'd argue that numba-optimized Python is more readable than Cython to a user who doesn't know either of those.

On the whole, Cython is still probably the better, more stable choice for an important project. If I recall correct

[2016-07-13 02:58] danielballan commented on #381
@zoeith I was going to follow up with the numba or conda devs as a courtesy -- they probably didn't intentionally publish a package with a dirty tag -- but I can't reproduce finding that weird build on OSX.

`conda search numba | grep dirty` turns up nothing.

When I `conda install numba` and obtain version 0.27.0, the verison string looks fine:

[code]

Can you tell me what channel that badly-tag